<template>
  <div class="search">
    <Row>
      <Col>
        <Card>
          <Row @keydown.enter.native="handleSearch">
            <Form ref="searchForm" :model="searchForm" inline :label-width="80" class="search-form">
              <Form-item label="客户名" prop="userName">
                <Input
                  type="text"
                  v-model="searchForm.customerName"
                  placeholder="请输入客户名"
                  clearable
                  style="width:150px"
                />
              </Form-item>
              <span v-if="drop">
                <Form-item label="合同号" prop="bizAgreementNo">
                  <Input
                    type="text"
                    v-model="searchForm.bizAgreementNo"
                    placeholder="请输入合同号"
                    clearable
                    style="width: 200px"
                  />
                </Form-item>
                <Form-item label="状态" prop="payMentState">
                  <Select
                    v-model="searchForm.payMentState"
                    placeholder="请选择"
                    clearable
                    style="width: 200px"
                  >
                    <!-- <Option value="1" class="ivu-select-1">未放款</Option> -->
                    <Option value="2" class="ivu-select-2">出款中</Option>
                    <Option value="3" class="ivu-select-3">出款成功</Option>
                    <Option value="4" class="ivu-select-4">出款失败</Option>
                  </Select>
                </Form-item>
                <Form-item label="创建时间" prop="create_time">
                  <DatePicker
                    v-model="selectDate"
                    type="daterange"
                    format="yyyy-MM-dd"
                    clearable
                    @on-change="selectDateRange"
                    placeholder="选择起始时间"
                    style="width: 200px"
                  ></DatePicker>
                </Form-item>
              </span>
              <Form-item style="margin-left:-35px;" class="br">
                <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                <Button @click="handleReset">重置</Button>
                <a class="drop-down" @click="dropDown">
                  {{dropDownContent}}
                  <Icon :type="dropDownIcon"></Icon>
                </a>
              </Form-item>
            </Form>
          </Row>
          <Row class="operation">
            <Dropdown @on-click="handleDropdown">
              <Button type="primary">
                导出
                <Icon type="md-arrow-dropdown" />
              </Button>
              <DropdownMenu slot="list">
                <DropdownItem name="exportData">导出所选数据</DropdownItem>
                <DropdownItem name="exportAll">导出全部数据</DropdownItem>
              </DropdownMenu>
            </Dropdown>
            <!-- <Button type="primary" @click="importBtn">导入</Button> -->
            <Button @click="getDataList" icon="md-refresh">刷新</Button>
            <circleLoading v-if="operationLoading" />
          </Row>
          <Row>
            <Alert show-icon>
              已选择
              <span class="select-count">{{selectCount}}</span> 项
              <a class="select-clear" @click="clearSelectAll">清空</a>
            </Alert>
          </Row>
          <Row>
            <Table
              :loading="loading"
              border
              :columns="columns"
              :data="data"
              ref="table"
              sortable="custom"
              @on-sort-change="changeSort"
              @on-selection-change="changeSelect"
            ></Table>
          </Row>
          <Row type="flex" justify="end" class="page">
            <span style="padding-top:2px;margin-right:30px;">
              已出款总金额为：
              <b style="color:red;">{{allAmount}}</b>元
            </span>
            <Page
              :current="pageNumber"
              :total="total"
              :page-size="pageSize"
              @on-change="changePage"
              @on-page-size-change="changePageSize"
              :page-size-opts="[10,20,50]"
              size="small"
              show-total
              show-elevator
              show-sizer
            ></Page>
          </Row>
        </Card>
      </Col>
    </Row>
    <!-- 自定义导出数据 -->
    <Modal
      v-model="exportModalVisible"
      :title="exportTitle"
      :loading="loadingExport"
      @on-ok="exportCustomData"
    >
      <Form ref="exportForm" :label-width="85">
        <FormItem label="导出文件名">
          <Input v-model="filename" />
        </FormItem>
        <FormItem label="自定义导出列">
          <CheckboxGroup v-model="chooseColumns">
            <Checkbox
              v-for="(item, i) in exportColumns"
              :label="item.title"
              :key="i"
              :value="item.checked"
              :disabled="item.disabled"
            ></Checkbox>
          </CheckboxGroup>
        </FormItem>
      </Form>
    </Modal>
  </div>
</template>

<script>
import {
  exportPayment,
  lendGetByCondition,
  // batchGetByCondition,
  // billGetListById,
  confirmPayment
} from "@/api/index";
import circleLoading from "@/views/my-components/circle-loading.vue";
import { exportColumn } from "./exportColumn";
// 模版导入文件表数据
// import { userColumns, userData } from "@/libs/importTemplateBill";
import excel from "@/libs/excel";
export default {
  name: "pay_lend_list",
  components: {
    circleLoading
  },
  data() {
    return {
      importLoading: false,
      allAmount: "0.00", //总金额
      loading: false, // 表单加载状态
      operationLoading: false, // 操作加载状态
      modalType: 0, // 添加或编辑标识
      exportModalVisible: false,
      loadingExport: true,
      drop: false,
      dropDownContent: "展开",
      dropDownIcon: "ios-arrow-down",
      searchForm: {
        // 搜索框初始化对象
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc", // 默认排序方式
        startDate: "", // 起始时间
        endDate: "", // 终止时间
        customerName: "", //批次号
        bizAgreementNo: "", //合同号
        payMentState: "" //状态
      },
      selectDate: null,
      selectDateDrawer: null,
      selectList: [], // 多选数据
      selectCount: 0, // 多选计数
      columns: [
        // 表头
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          type: "index",
          title: "序号",
          width: 70,
          align: "center"
        },
        {
          title: "业务方",
          key: "bizName",
          minWidth: 200,
          align: "center"
        },
        {
          title: "合同号",
          key: "bizAgreementNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "出款状态",
          key: "payMentStateDesc",
          width: 100,
          align: "center",
          className: "chenwang"
        },
        {
          title: "客户名",
          key: "customerName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "银行卡号",
          key: "cardNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "手机号",
          key: "phone",
          minWidth: 200,
          align: "center"
        },
        {
          title: "身份证号",
          key: "idNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "应出款金额（元）",
          key: "payableAmount",
          minWidth: 150,
          align: "center"
        },
        {
          title: "已出款金额（元）",
          key: "money",
          minWidth: 150,
          align: "center"
        },
        {
          title: "渠道",
          key: "thirdPayName",
          minWidth: 200,
          align: "center"
        },
        {
          title: "商户号",
          key: "merchantNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "流水号",
          key: "dtOrder",
          minWidth: 200,
          align: "center"
        },
        {
          title: "手续费（元）",
          key: "fee",
          minWidth: 150,
          align: "center"
        },
        {
          title: "创建时间",
          key: "createTime",
          minWidth: 200,
          align: "center"
        },
        {
          title: "再次审核状态",
          key: "respCode",
          minWidth: 200,
          align: "center"
        },
        {
          title: "操作",
          key: "action",
          width: 200,
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px",
                    width: "64px",
                    display:
                      params.row.respCode == 4002 ? "inline-block" : params.row.respCode == 4003 ? "inline-block" : params.row.respCode == 4004 ?  "inline-block" : "none"
                  },
                  on: {
                    click: () => {
                      this.confirmPayment(params.row, 1);
                    }
                  }
                },
                "出款"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "warning",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px",
                    display:
                       params.row.respCode == 4002 ? "inline-block" : params.row.respCode == 4003 ? "inline-block" : params.row.respCode == 4004 ?  "inline-block" : "none"
                  },
                  on: {
                    click: () => {
                      this.confirmPayment(params.row, 2);
                    }
                  }
                },
                "取消出款"
              )
            ]);
          }
        },
        {
          title: "操作日志",
          key: "respMsg",
          minWidth: 200,
          align: "center"
        }
      ],
      exportColumns: exportColumn,
      chooseColumns: [],
      filename: "用户数据",
      exportTitle: "确认导出",
      exportType: "",
      exportData: [], //导出数据
      data: [], // 表单数据
      pageNumber: 1, // 当前页数
      pageNumberDetails: 10, //明细数据列表
      pageSize: 10, // 页面大小
      pageSizeDetails: 10, //详情页面大小
      total: 0, // 表单数据总数数
      totalDetails: 0, // 详情页面总数
      description: "" //描述信息
    };
  },
  methods: {
    init() {
      // 初始化导出列数据
      let array = [];
      this.exportColumns.forEach(e => {
        // 指定列限制权限
        if (
          !this.getStore("roles").includes("ROLE_ADMIN") &&
          e.key === "mobile"
        ) {
          e.title = "[无权导出] " + e.title;
          e.disabled = true;
        } else {
          e.disabled = false;
        }
        array.push(e.title);
      });
      this.chooseColumns = array;
    },
    changePage(v) {
      this.searchForm.pageNumber = v;
      this.lendGetByCondition();
      this.clearSelectAll();
    },
    changePageSize(v) {
      this.searchForm.pageSize = v;
      this.lendGetByCondition();
    },

    handleSearch() {
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.lendGetByCondition();
    },
    handleReset() {
      this.$refs.searchForm.resetFields();
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.selectDate = null;
      this.searchForm.startDate = "";
      this.searchForm.endDate = "";
      // 重新加载数据
      this.lendGetByCondition();
    },

    lendGetByCondition() {
      this.loading = true;
      if (!this.searchForm.type) {
        this.searchForm.type = "";
      }
      if (!this.searchForm.status) {
        this.searchForm.status = "";
      }
      lendGetByCondition(this.searchForm).then(res => {
        this.loading = false;
        if (res.success === true) {
          let changeColor = [];
          if (res.result.content.length > 0) {
            res.result.content.forEach(item => {
              switch (item.payMentState) {
                case 1:
                  item.cellClassName = {
                    payMentStateDesc: "ivu-select-item-warning"
                  };
                  changeColor.push(item);
                  break;
                case 2:
                  item.cellClassName = {
                    payMentStateDesc: "ivu-select-item-doing"
                  };
                  changeColor.push(item);
                  break;
                case 3:
                  item.cellClassName = {
                    payMentStateDesc: "ivu-select-item-end"
                  };
                  changeColor.push(item);
                  break;
                case 4:
                  item.cellClassName = {
                    payMentStateDesc: "ivu-select-item-error"
                  };
                  changeColor.push(item);
                  break;
                case 5:
                  item.cellClassName = {
                    payMentStateDesc: "ivu-select-item-part"
                  };
                  changeColor.push(item);
                  break;
              }
            });
          }
          this.data = changeColor;
          this.allAmount = res.result.allAmount;
          this.total = res.result.totalElements;
        }
      });
    },
    confirmPayment(v, btnNo) {
      let mask = "";
      if (btnNo == 1) {
        mask = "确认出款信息";
      } else {
        mask = "取消出款信息";
      }
      this.$Modal.confirm({
        title: mask,
        // 主动还款按钮
        content:
          "<div class='markWarp'><p><span class='mark'>合同号：</span><span>" +
          v.bizName +
          "</span></p>" +
          "<p><span class='mark'>合同号：</span><span>" +
          v.bizAgreementNo +
          "</span></p>" +
          "<p><span class='mark'>客户名：</span><span>" +
          v.customerName +
          "</span></p>" +
          "<p><span class='mark'>银行卡号：</span><span>" +
          v.cardNo +
          "</span></p>" +
          "<p><span class='mark'>手机号：</span><span>" +
          v.phone +
          "</span></p>" +
          "<p><span class='mark'>应放款金额(元)：</span><span style='color:#ed4014'>" +
          v.money +
          "</span></p>" +
          "<p><span class='mark'>渠道：</span><span>" +
          v.thirdPayName +
          "</span></p>" +
          "<p><span class='mark'>商户号：</span><span>" +
          v.merchantNo +
          "</span></p></div>",
        // render: h => {
        //   return h("Input", {
        //     props: {
        //       value: this.description,
        //       autofocus: true,
        //       placeholder: "请输入备注信息"
        //     },
        //     on: {
        //       input: val => {
        //         this.description = val;
        //       }
        //     }
        //   });
        // },
        onOk: () => {
          // 删除
          this.operationLoading = true;
          confirmPayment({ orderId: v.orderId, btnClick: btnNo }).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.getDataList();
            } else {
              this.$Message.success(res.message);
              this.getDataList();
            }
          });
        }
      });
    },
    getDataList() {
      this.lendGetByCondition();
    },
    handleDropdown(name) {
      if (name === "exportData") {
        if (this.selectCount <= 0) {
          this.$Message.warning("您还未选择要导出的数据");
          return;
        }
        this.exportType = "part";
        this.exportModalVisible = true;
        this.exportTitle = "确认导出 " + this.selectCount + " 条数据";
        this.exportColumns = exportColumn;
        this.init();
      } else if (name === "exportAll") {
        this.exportType = "all";
        this.exportColumns = exportColumn;
        this.init();
        exportPayment().then(res => {
          if (res.success) {
            this.exportData = res.result.list;
            //this.total = res.result.total;
            this.exportTitle = "确认导出全部 " + res.result.total + " 条数据";
            this.exportModalVisible = true;
          } else {
            this.$Message.warning(res.message);
            this.exportModalVisible = false;
          }
        });
      }
    },
    exportCustomData() {
      if (this.filename == "") {
        this.filename = "用户数据";
      }
      // 判断勾选导出列
      let array = [];
      this.exportColumns.forEach(e => {
        this.chooseColumns.forEach(c => {
          if (e.title === c && !e.disabled) {
            array.push(e);
          }
        });
      });
      this.exportColumns = array;
      this.exportModalVisible = false;
      let title = [];
      let key = [];
      this.exportColumns.forEach(e => {
        title.push(e.title);
        key.push(e.key);
      });
      const params = {
        title: title,
        key: key,
        data: this.exportData,
        autoWidth: true,
        filename: this.filename
      };
      excel.export_array_to_excel(params);
    },
    changeSort(e) {
      this.searchForm.sort = e.key;
      this.searchForm.order = e.order;
      if (e.order === "normal") {
        this.searchForm.order = "";
      }
      this.lendGetByCondition();
    },
    clearSelectAll() {
      this.$refs.table.selectAll(false);
    },
    changeSelect(e) {
      this.exportData = e;
      this.selectList = e;
      this.selectCount = e.length;
    },
    selectDateRange(v) {
      if (v) {
        this.searchForm.startDate = v[0];
        this.searchForm.endDate = v[1];
      }
    },
    dropDown() {
      if (this.drop) {
        this.dropDownContent = "展开";
        this.dropDownIcon = "ios-arrow-down";
      } else {
        this.dropDownContent = "收起";
        this.dropDownIcon = "ios-arrow-up";
      }
      this.drop = !this.drop;
    }
  },
  mounted() {
    this.init();
  }
};
</script>
<style lang="less">
.operation {
  margin-bottom: 2vh;
}
.page {
  margin-top: 2vh;
}
.search {
  .select-count {
    font-size: 13px;
    font-weight: 600;
    color: #40a9ff;
  }
  .select-clear {
    margin-left: 10px;
  }
  .drop-down {
    font-size: 13px;
    margin-left: 5px;
  }
}
.ivu-select-1,
.ivu-select-item-warning {
  color: #ff9900;
}
.ivu-select-2,
.ivu-select-item-doing {
  color: #2b85e4;
}
.ivu-select-3,
.ivu-select-item-end {
  color: #19be6b;
}
.ivu-select-4,
.ivu-select-item-error {
  color: #ed4014;
}
.ivu-select-5,
.ivu-select-item-part {
  color: #2db7f5;
}
// .ivu-select-6,
// .ivu-select-item-receivable {
//   color: #ff1493;
// }
.drawer-footer {
  z-index: 10;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
}
.markWarp {
  margin-top: 10px;
}
.markWarp p {
  margin-bottom: 6px;
}
.mark {
  width: 110px;
  display: inline-block;
  text-align: right;
}
</style>