<style lang="less">
@import "./payrule.less";
</style>
<template>
  <div class="search">
    <Row>
      <Col>
        <Card>
          <Row class="operation">
            <Button @click="add" type="primary" icon="md-add">添加</Button>
            <Button @click="delAll" icon="md-trash">批量删除</Button>
            <Button @click="getDataList" icon="md-refresh">刷新</Button>
            <circleLoading v-if="operationLoading" />
          </Row>
          <Row>
            <Alert show-icon>
              已选择
              <span class="select-count">{{selectCount}}</span> 项
              <a class="select-clear" @click="clearSelectAll">清空</a>
            </Alert>
          </Row>
          <Row>
            <Table
              :loading="loading"
              border
              :columns="columns"
              :data="data"
              ref="table"
              sortable="custom"
              @on-sort-change="changeSort"
              @on-selection-change="changeSelect"
            ></Table>
          </Row>
          <Row type="flex" justify="end" class="page">
            <Page
              :current="pageNumber"
              :total="total"
              :page-size="pageSize"
              @on-change="changePage"
              @on-page-size-change="changePageSize"
              :page-size-opts="[10,20,50]"
              size="small"
              show-total
              show-elevator
              show-sizer
            ></Page>
          </Row>
        </Card>
      </Col>
    </Row>
    <Modal
      :title="modalTitle"
      v-model="modalVisible"
      :mask-closable="false"
      :width="480"
      :z-index="100"
    >
      <Form ref="form" :model="form" :label-width="110" :rules="formValidate">
        <Form-item label="渠道名称" prop="thirdPayId">
          <Select
            v-model="form.thirdPayId"
            placeholder="请选择渠道名称"
            style="width: 300px"
            :disabled="disabled"
            @on-change="channelChange"
          >
            <Option
              :value="item.id"
              v-for="item in getSelectList"
              :key="item.id"
            >{{item.thirdPayName}}</Option>
          </Select>
        </Form-item>
      </Form>
      <div slot="footer">
        <Button type="text" @click="modalVisible=false">取消</Button>
        <Button type="primary" :loading="submitLoading" @click="handleSubmit">提交</Button>
      </div>
    </Modal>

    <Drawer title="文件上传" closable v-model="uploadVisible" width="500">
      <Upload
        action="/gboot/file/upload"
        :headers="accessToken"
        :on-success="handleSuccess"
        :on-error="handleError"
        :max-size="5120"
        :on-exceeded-size="handleMaxSize"
        multiple
        type="drag"
        ref="up"
      >
        <div style="padding: 20px 0">
          <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
          <p>点击这里或将文件拖拽到这里上传</p>
        </div>
      </Upload>
      <div class="drawer-footer">
        <Button @click="clearFiles">清空上传列表</Button>
      </div>
    </Drawer>
  </div>
</template>

<script>
import {
  thirdPaymentGetAll,
  thirdPaymentSave,
  thirdPaymentPayMentList,
  baofooThirdPayment,
  baofooThirdPaymentUpdateData
} from "@/api/index";
import circleLoading from "@/views/my-components/circle-loading.vue";
export default {
  name: "pay_bank_list",
  components: {
    circleLoading
  },
  data() {
    return {
      channel: "", //渠道方
      flag: "", //标识
      disabled: true, //弹出层下拉是否可编辑
      accessToken: {}, // 上传token鉴权
      loading: true, // 表单加载状态
      operationLoading: false, // 操作加载状态
      uploadVisible: false,
      modalType: 0, // 添加或编辑标识
      modalVisible: false, // 添加或编辑显示
      modalTitle: "", // 添加或编辑标题
      searchForm: {
        // 搜索框初始化对象
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc" // 默认排序方式
      },
      form: {
        // 添加或编辑表单对象初始化数据
        thirdPayId: ""
      },
      // 表单验证规则
      formValidate: {
        thirdPayId: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      submitLoading: false, // 添加或编辑提交状态
      selectList: [], // 多选数据
      selectCount: 0, // 多选计数
      columns: [
        // 表头
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          type: "index",
          title: "序号",
          width: 70,
          align: "center"
        },
        {
          title: "渠道名称",
          key: "thirdPayName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "操作",
          key: "action",
          align: "center",
          width: 270,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "success",
                    size: "small",
                    icon: "ios-list-box-outline"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.detalis(params.row);
                    }
                  }
                },
                "详情"
              ),
              // h(
              //   "Button",
              //   {
              //     props: {
              //       type: "primary",
              //       size: "small",
              //       icon: "ios-create-outline"
              //     },
              //     style: {
              //       marginRight: "5px"
              //     },
              //     on: {
              //       click: () => {
              //         this.edit(params.row);
              //       }
              //     }
              //   },
              //   "编辑"
              // ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small",
                    icon: "md-trash"
                  },
                  on: {
                    click: () => {
                      this.remove(params.row);
                    }
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      data: [], // 表单数据
      pageNumber: 1, // 当前页数
      pageSize: 10, // 页面大小
      total: 0, // 表单数据总数
      getSelectList: ""
    };
  },
  methods: {
    init() {
      this.getchannelList(); //初始化列表
      this.getSelectOption(); //初始化新增下拉菜单
      this.accessToken = {
        accessToken: this.getStore("accessToken")
      };
    },
    //点击上传按钮标识
    uploadBtn(flag) {
      this.uploadVisible = true;
      this.flag = flag;
    },
    //获取增加下拉列表
    getSelectOption() {
      thirdPaymentPayMentList().then(res => {
        if (res.success === true) {
          this.getSelectList = res.result;
        }
      });
    },

    //上传文件成功
    handleSuccess(res, file) {
      if (res.success === true) {
        this.$Message.success("上传文件 " + file.name + " 成功");
        if (this.flag == 0) {
          this.form.publicKey = res.result;
        } else {
          this.form.privateKey = res.result;
        }
        this.getDataList();
      } else {
        this.$Message.error(res.message);
      }
    },
    //上传文件失败
    handleError(error, file, fileList) {
      this.$Message.error(error.toString());
    },
    //文件限制大小
    handleMaxSize(file) {
      this.$Notice.warning({
        title: "文件大小过大",
        desc: "所选文件‘ " + file.name + " ’大小过大, 不得超过 5M."
      });
    },
    // beforeUpload() {
    //   if (!this.$route.meta.permTypes.includes("upload")) {
    //     this.$Message.error("此处您没有上传权限(为演示功能，该按钮未配置隐藏)");
    //     return false;
    //   }
    //   return true;
    // },
    //清空上传列表
    clearFiles() {
      this.$refs.up.clearFiles();
    },
    // changeStatus(row, v) {
    //   thirdPaymentForbidden({ id: row.id, state: v }).then(res => {
    //     this.loading = false;
    //     if (res.success === true) {
    //       this.$Message.success("修改用户" + row.thirdPayName + "状态成功");
    //     }
    //   });
    // },
    channelChange(v) {
      this.form.thirdPayId = v;
      console.log(this.form.thirdPayId)
    },
    changePage(v) {
      this.searchForm.pageNumber = v;
      this.getDataList();
      this.clearSelectAll();
    },
    changePageSize(v) {
      this.searchForm.pageSize = v;
      this.getDataList();
    },
    handleSearch() {
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.getDataList();
    },
    handleReset() {
      this.$refs.searchForm.resetFields();
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      // 重新加载数据
      this.getDataList();
    },
    changeSort(e) {
      this.searchForm.sort = e.key;
      this.searchForm.order = e.order;
      if (e.order === "normal") {
        this.searchForm.order = "";
      }
      this.getDataList();
    },
    clearSelectAll() {
      this.$refs.table.selectAll(false);
    },
    changeSelect(e) {
      this.selectList = e;
      this.selectCount = e.length;
    },
    getDataList() {
      this.getchannelList();
    },
    getchannelList() {
      // 多条件搜索用户列表
      this.loading = true;
      // 避免后台默认值
      if (!this.searchForm.type) {
        this.searchForm.type = "";
      }
      if (!this.searchForm.status) {
        this.searchForm.status = "";
      }
      thirdPaymentGetAll(this.searchForm).then(res => {
        this.loading = false;
        if (res.success === true) {
          this.data = res.result.content;
          this.total = res.result.totalElements;
          this.channel = res.result.bizName;
        }
      });
    },
    handleSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.submitLoading = true;
          if (this.modalType === 0) {
            // 添加 避免编辑后传入id等数据 记得删除
            delete this.form.id;
            thirdPaymentSave(this.form).then(res => {
              this.submitLoading = false;
              if (res.success === true) {
                this.$Message.success("操作成功");
                this.getchannelList();
                this.modalVisible = false;
              } else {
                this.$Message.warning(res.message);
              }
            });
          } else {
            // 编辑
            // baofooThirdPaymentUpdateData(this.form).then(res => {
            //   this.submitLoading = false;
            //   if (res.success === true) {
            //     this.$Message.success("操作成功");
            //     this.getDataList();
            //     this.modalVisible = false;
            //   }
            // });
          }
        }
      });
    },
    add() {
      this.modalType = 0;
      this.modalTitle = "新增渠道";
      this.$refs.form.resetFields();
      delete this.form.id;
      this.modalVisible = true;
      this.disabled = false; //可以输入
    },
    //详情
    detalis(v) {
      console.log(v.url);
      // 记录返回路由
      let query = { id: v.id, bizNo: v.bizNo };
      this.$router.push({
        // 该路由已在/router/router.js中定义好 携带id参数
        name: v.url,
        query: query
      });
    },
    edit(v) {
      this.modalType = 1;
      this.modalTitle = "编辑渠道";
      // 转换null为""
      for (let attr in v) {
        if (v[attr] === null) {
          v[attr] = "";
        }
      }
      let str = JSON.stringify(v);
      let data = JSON.parse(str);
      this.form = data;
      this.$refs.form.resetFields();
      this.modalVisible = true;
      this.disabled = true; //不可以输入
    },
    remove(v) {
      this.$Modal.confirm({
        title: "确认删除",
        // 记得确认修改此处
        content: "您确认要删除 " + v.thirdPayName + " ?",
        onOk: () => {
          // 删除
          this.operationLoading = true;
          baofooThirdPayment({ id: v.id, thirdPayId: v.thirdPayId }).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.getDataList();
            }
          });
        }
      });
    },
    delAll() {
      if (this.selectCount <= 0) {
        this.$Message.warning("您还未选择要删除的数据");
        return;
      }
      this.$Modal.confirm({
        title: "确认删除",
        content: "您确认要删除所选的 " + this.selectCount + " 条数据?",
        onOk: () => {
          let ids = "";
          this.selectList.forEach(function(e) {
            ids += e.id + ",";
          });
          ids = ids.substring(0, ids.length - 1);
          // 批量删除
          this.operationLoading = true;
          baofooThirdPayment(ids).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.clearSelectAll();
              this.getDataList();
            }
          });
        }
      });
    }
  },
  mounted() {
    this.init();
  }
};
</script>