.search {
    .operation {
        margin-bottom: 2vh;
    }

    .select-count {
        font-size: 13px;
        font-weight: 600;
        color: #40a9ff;
    }

    .select-clear {
        margin-left: 10px;
    }

    .page {
        margin-top: 2vh;
    }

    .drop-down {
        font-size: 13px;
        margin-left: 5px;
    }
}

.drawer-footer {
    z-index: 10;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    background: #fff;
}

.ivu-select-1,
.ivu-select-item-warning {
    color: #ff9900;
}

.ivu-select-2,
.ivu-select-item-doing {
    color: #2b85e4;
}

.ivu-select-3,
.ivu-select-item-end {
    color: #19be6b;
}

.ivu-select-4,
.ivu-select-item-error {
    color: #ed4014;
}

.ivu-select-5,
.ivu-select-item-part {
    color: #2db7f5;
}

.ivu-select-6,
.ivu-select-item-receivable {
    color: #ff1493;
}