<style lang="less">
@import "./rate.less";
</style>
<template>
  <div class="search">
    <Row>
      <Col>
        <Card>
          <Row @keydown.enter.native="handleSearch">
            <Form ref="searchForm" :model="searchForm" inline :label-width="90" class="search-form">
              <Form-item label="合同号" prop="orderCode">
                <Input
                  type="text"
                  v-model="searchForm.orderCode"
                  clearable
                  placeholder="请输入合同号"
                  style="width: 200px"
                />
              </Form-item>
              <span>
                <Form-item label="状态" prop="drawState">
                  <Select
                    v-model="searchForm.billState"
                    placeholder="请选择"
                    clearable
                    style="width: 200px"
                  >
                    <Option value="1" class="ivu-select-1">未执行</Option>
                    <Option value="2" class="ivu-select-2">扣款中</Option>
                    <Option value="3" class="ivu-select-3">已划扣</Option>
                    <Option value="4" class="ivu-select-4">划扣失败</Option>
                    <Option value="5" class="ivu-select-5">部分划扣</Option>
                    <Option value="6" class="ivu-select-6">主动回款</Option>
                  </Select>
                </Form-item>
                <Form-item label="起止时间">
                  <DatePicker
                    v-model="deductionTime"
                    type="daterange"
                    format="yyyy-MM-dd"
                    clearable
                    @on-change="selectDateRange"
                    placeholder="选择起止时间"
                    style="width: 200px"
                  ></DatePicker>
                </Form-item>
              </span>
              <Form-item style="margin-left:-35px;" class="br">
                <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                <Button @click="handleReset">重置</Button>
                <!-- <a class="drop-down" @click="dropDown">
                  {{dropDownContent}}
                  <Icon :type="dropDownIcon"></Icon>
                </a>-->
              </Form-item>
            </Form>
          </Row>
          <Row class="operation">
            <Dropdown @on-click="handleDropdown">
              <Button type="primary">
                导出数据
                <Icon type="md-arrow-dropdown" />
              </Button>
              <DropdownMenu slot="list">
                <DropdownItem name="exportData">导出所选数据</DropdownItem>
                <DropdownItem name="exportAll">导出全部数据</DropdownItem>
              </DropdownMenu>
            </Dropdown>
            <Button @click="getDataList" icon="md-refresh">刷新</Button>
            <circleLoading v-if="operationLoading" />
          </Row>
          <Row>
            <Alert show-icon>
              已选择
              <span class="select-count">{{selectCount}}</span> 项
              <a class="select-clear" @click="clearSelectAll">清空</a>
            </Alert>
          </Row>
          <Row>
            <Table
              :loading="loading"
              border
              :columns="columns"
              :data="data"
              sortable="custom"
              @on-sort-change="changeSort"
              @on-selection-change="showSelect"
              ref="table"
            ></Table>
          </Row>
          <Row type="flex" justify="end" class="page">
            <Page
              :current="searchForm.pageNumber"
              :total="total"
              :page-size="searchForm.pageSize"
              @on-change="changePage"
              @on-page-size-change="changePageSize"
              :page-size-opts="[10,20,50]"
              size="small"
              show-total
              show-elevator
              show-sizer
            ></Page>
          </Row>
        </Card>
      </Col>
    </Row>
    <!-- 自定义导出数据 -->
    <Modal
      v-model="exportModalVisible"
      :title="exportTitle"
      :loading="loadingExport"
      @on-ok="exportCustomData"
    >
      <Form ref="exportForm" :label-width="85">
        <FormItem label="导出文件名">
          <Input v-model="filename" />
        </FormItem>
        <FormItem label="自定义导出列">
          <CheckboxGroup v-model="chooseColumns">
            <Checkbox
              v-for="(item, i) in exportColumns"
              :label="item.title"
              :key="i"
              :value="item.checked"
              :disabled="item.disabled"
            ></Checkbox>
          </CheckboxGroup>
        </FormItem>
      </Form>
    </Modal>
  </div>
</template>

<script>
import {
  billResultGetByConditionData,
  getAllRoleList,
  // addUser,
  // editUser,
  // enableUser,
  // disableUser,
  // deleteUser,
  // getAllUserData,
  // importUserData,
  billResultGetByCondition,
  exportBillResult
} from "@/api/index";
import uploadPicInput from "@/views/my-components/gboot/upload-pic-input";
import circleLoading from "@/views/my-components/circle-loading.vue";
// 模版导入文件表数据
import { userColumns, userData } from "@/libs/importTemplate";
// 指定导出列数据
import { exportColumn } from "./exportColumn";
import excel from "@/libs/excel";
export default {
  name: "user-manage",
  components: {
    circleLoading,
    uploadPicInput
  },
  data() {
    return {
      loading: false,
      operationLoading: false,
      loadingExport: true,
      exportModalVisible: false,
      selectCount: 0,
      selectList: [],
      searchForm: {
        id: "",
        drawState: "",
        pageNumber: 1,
        pageSize: 10,
        sort: "createTime",
        order: "desc",
        startDate: "",
        endDate: "",
        orderCode: "",
        billState: ""
      },
      deductionTime: null,
      userRoles: [],
      roleList: [],
      errorPass: "",
      submitLoading: false,
      columns: [
        // 表头
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          type: "index",
          title: "序号",
          width: 70,
          align: "center"
        },
        {
          title: "批次号",
          key: "batchNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "状态",
          key: "billStateDesc",
          width: 100,
          align: "center",
          className: "chenwang"
        },
        {
          title: "业务号",
          key: "bizNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "合同号",
          key: "bizAgreementNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "客户名",
          key: "customerName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "应划扣金额（元）",
          key: "amount",
          minWidth: 150,
          align: "center"
        },
        {
          title: "已划扣金额（元）",
          key: "hasKillAmount",
          minWidth: 150,
          align: "center"
        },
        {
          title: "手续费（元）",
          key: "costs",
          minWidth: 150,
          align: "center"
        },
        {
          title: "创建时间",
          key: "createTime",
          minWidth: 200,
          align: "center"
        }
      ],
      exportColumns: exportColumn,
      chooseColumns: [],
      filename: "用户数据",
      exportTitle: "确认导出",
      exportType: "",
      tempColumns: userColumns,
      tempData: userData,
      data: [],
      exportData: [],
      total: 0,
      dictSex: this.$store.state.dict.sex
    };
  },
  methods: {
    init() {
      //this.billResultGetByCondition();
      // 初始化导出列数据
      let array = [];
      this.exportColumns.forEach(e => {
        // 指定列限制权限
        if (
          !this.getStore("roles").includes("ROLE_ADMIN") &&
          e.key === "mobile"
        ) {
          e.title = "[无权导出] " + e.title;
          e.disabled = true;
        } else {
          e.disabled = false;
        }
        array.push(e.title);
      });
      this.chooseColumns = array;
    },
    handleSelectDepTree(v) {
      this.userForm.departmentId = v[0];
    },
    handleSelectDep(v) {
      this.searchForm.departmentId = v;
    },
    changePage(v) {
      this.searchForm.pageNumber = v;
      this.billResultGetByCondition();
      this.clearSelectAll();
    },
    changePageSize(v) {
      this.searchForm.pageSize = v;
      this.billResultGetByCondition();
    },
    selectDateRange(v) {
      if (v) {
        this.searchForm.startDate = v[0];
        this.searchForm.endDate = v[1];
      }
    },
    billResultGetByCondition() {
      // 多条件搜索用户列表
      this.loading = true;
      // 避免后台默认值
      if (!this.searchForm.type) {
        this.searchForm.type = "";
      }
      if (!this.searchForm.status) {
        this.searchForm.status = "";
      }
      billResultGetByCondition(this.searchForm).then(res => {
        this.loading = false;
        if (res.success === true) {
          let changeColor = [];
          if (res.result.content.length > 0) {
            res.result.content.forEach(item => {
              switch (item.billState) {
                case "1":
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-warning"
                  };
                  changeColor.push(item);
                  break;
                case "2":
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-doing"
                  };
                  changeColor.push(item);
                  break;
                case "3":
                  item.cellClassName = { billStateDesc: "ivu-select-item-end" };
                  changeColor.push(item);
                  break;
                case "4":
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-error"
                  };
                  changeColor.push(item);
                  break;
                case "5":
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-part"
                  };
                  changeColor.push(item);
                  break;
                case "6":
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-receivable"
                  };
                  changeColor.push(item);
                  break;
              }
            });
          }

          this.data = changeColor;
          this.total = res.result.totalElements;
        }
      });
    },
    handleSearch() {
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.billResultGetByCondition();
    },
    handleReset() {
      this.$refs.searchForm.resetFields();
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.deductionTime = "";
      this.searchForm.startDate = "";
      this.searchForm.endDate = "";
      this.searchForm.id = "";
      this.searchForm.drawState = "";
      this.searchForm.orderCode = "";
      this.searchForm.billState = "";
      //this.$refs.dep.clearSelectA();
      //this.searchForm.departmentId = "";
      // 重新加载数据
      this.billResultGetByCondition();
    },
    changeSort(e) {
      this.searchForm.sort = e.key;
      this.searchForm.order = e.order;
      if (e.order === "normal") {
        this.searchForm.order = "";
      }
      this.billResultGetByCondition();
    },
    clearSelectAll() {
      this.$refs.table.selectAll(false);
    },
    getRoleList() {
      getAllRoleList().then(res => {
        if (res.success === true) {
          this.roleList = res.result;
        }
      });
    },
    getDataList() {
      this.billResultGetByCondition();
    },
    handleDropdown(name) {
      if (name === "exportData") {
        if (this.selectCount <= 0) {
          this.$Message.warning("您还未选择要导出的数据");
          return;
        }
        this.exportType = "part";
        this.exportModalVisible = true;
        this.exportTitle = "确认导出 " + this.selectCount + " 条数据";
        this.exportColumns = exportColumn;
        this.init();
      } else if (name === "exportAll") {
        this.exportType = "all";
        this.exportColumns = exportColumn;
        this.init();
        exportBillResult().then(res => {
          if (res.success) {
            this.exportData = res.result.list;
            //this.total = res.result.total;
            this.exportTitle = "确认导出全部 " + res.result.total + " 条数据";
            this.exportModalVisible = true;
          } else {
            this.$Message.warning(res.message);
            this.exportModalVisible = false;
          }
        });
      }
    },
    exportCustomData() {
      if (this.filename == "") {
        this.filename = "用户数据";
      }
      // 判断勾选导出列
      let array = [];
      this.exportColumns.forEach(e => {
        this.chooseColumns.forEach(c => {
          if (e.title === c && !e.disabled) {
            array.push(e);
          }
        });
      });
      this.exportColumns = array;
      this.exportModalVisible = false;
      let title = [];
      let key = [];
      this.exportColumns.forEach(e => {
        title.push(e.title);
        key.push(e.key);
      });
      const params = {
        title: title,
        key: key,
        data: this.exportData,
        autoWidth: true,
        filename: this.filename
      };
      excel.export_array_to_excel(params);
    },
    handleUpload(v) {},
    sendDetails(v) {
      console.log(v);
      let query = { drawNumber: v.id };
      this.$router.push({
        name: "draw-details",
        query: query
      });
    },

    showSelect(e) {
      this.exportData = e;
      this.selectList = e;
      this.selectCount = e.length;
    }
  },
  mounted() {
    this.init();
    this.getRoleList();
  }
};
</script>