<template>
  <div class="search">
    <Row>
      <Col>
        <Card>
          <Row @keydown.enter.native="handleSearch">
            <Form ref="searchForm" :model="searchForm" inline :label-width="80" class="search-form">
              <Form-item label="批次号" prop="batchNo">
                <Input
                  type="text"
                  v-model="searchForm.batchNo"
                  placeholder="请输入批次号"
                  clearable
                  style="width:150px"
                />
                <Button @click="showDrawer" icon="ios-search">查找批次</Button>
              </Form-item>
              <Form-item label="业务号" prop="bizNo">
                <Input
                  type="text"
                  v-model="searchForm.bizNo"
                  placeholder="请输入业务号"
                  clearable
                  style="width: 200px"
                />
              </Form-item>
              <span v-if="drop">
                <Form-item label="合同号" prop="bizAgreementNo">
                  <Input
                    type="text"
                    v-model="searchForm.bizAgreementNo"
                    placeholder="请输入合同号"
                    clearable
                    style="width: 200px"
                  />
                </Form-item>
                <Form-item label="状态" prop="billState">
                  <Select
                    v-model="searchForm.billState"
                    placeholder="请选择"
                    clearable
                    style="width: 200px"
                  >
                    <Option value="1" class="ivu-select-1">未执行</Option>
                    <Option value="2" class="ivu-select-2">扣款中</Option>
                    <Option value="3" class="ivu-select-3">已划扣</Option>
                    <Option value="4" class="ivu-select-4">划扣失败</Option>
                    <Option value="5" class="ivu-select-5">部分划扣</Option>
                    <Option value="6" class="ivu-select-6">主动回款</Option>
                  </Select>
                </Form-item>
                <Form-item label="创建时间" prop="create_time">
                  <DatePicker
                    v-model="selectDate"
                    type="daterange"
                    format="yyyy-MM-dd"
                    clearable
                    @on-change="selectDateRange"
                    placeholder="选择起始时间"
                    style="width: 200px"
                  ></DatePicker>
                </Form-item>
              </span>
              <Form-item style="margin-left:-35px;" class="br">
                <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                <Button @click="handleReset">重置</Button>
                <a class="drop-down" @click="dropDown">
                  {{dropDownContent}}
                  <Icon :type="dropDownIcon"></Icon>
                </a>
              </Form-item>
            </Form>
          </Row>
          <Row class="operation">
            <Dropdown @on-click="handleDropdown">
              <Button type="primary">
                导出
                <Icon type="md-arrow-dropdown" />
              </Button>
              <DropdownMenu slot="list">
                <DropdownItem name="exportData">导出所选数据</DropdownItem>
                <DropdownItem name="exportAll">导出全部数据</DropdownItem>
              </DropdownMenu>
            </Dropdown>
            <!-- <Button type="primary" @click="importBtn">导入</Button> -->
            <Button @click="getDataList" icon="md-refresh">刷新</Button>
            <circleLoading v-if="operationLoading" />
          </Row>
          <Row>
            <Alert show-icon>
              已选择
              <span class="select-count">{{selectCount}}</span> 项
              <a class="select-clear" @click="clearSelectAll">清空</a>
            </Alert>
          </Row>
          <Row>
            <Table
              :loading="loading"
              border
              :columns="columns"
              :data="data"
              ref="table"
              sortable="custom"
              @on-sort-change="changeSort"
              @on-selection-change="changeSelect"
            ></Table>
          </Row>
          <Row type="flex" justify="end" class="page">
            <span style="padding-top:2px;margin-right:30px;">
              已划扣总金额为：
              <b style="color:red;">{{allAmount}}</b>元
            </span>
            <Page
              :current="pageNumber"
              :total="total"
              :page-size="pageSize"
              @on-change="changePage"
              @on-page-size-change="changePageSize"
              :page-size-opts="[10,20,50]"
              size="small"
              show-total
              show-elevator
              show-sizer
            ></Page>
          </Row>
        </Card>
      </Col>
    </Row>
    <!-- 自定义导出数据 -->
    <Modal
      v-model="exportModalVisible"
      :title="exportTitle"
      :loading="loadingExport"
      @on-ok="exportCustomData"
    >
      <Form ref="exportForm" :label-width="85">
        <FormItem label="导出文件名">
          <Input v-model="filename" />
        </FormItem>
        <FormItem label="自定义导出列">
          <CheckboxGroup v-model="chooseColumns">
            <Checkbox
              v-for="(item, i) in exportColumns"
              :label="item.title"
              :key="i"
              :value="item.checked"
              :disabled="item.disabled"
            ></Checkbox>
          </CheckboxGroup>
        </FormItem>
      </Form>
    </Modal>
    <!-- 右侧抽屉  -->
    <Drawer title="批次列表" v-model="editDrawerVisible" width="720">
      <Row>
        <Row @keydown.enter.native="handleSearchDrawer">
          <Form
            ref="searchFormDrawer"
            :model="searchFormDrawer"
            inline
            :label-width="70"
            class="search-form"
          >
            <!-- <Form-item label="状态" prop="billState">
              <Select
                v-model="searchFormDrawer.billState"
                placeholder="请选择"
                clearable
                style="width: 200px"
              >
                <Option value="1" class="ivu-select-1">未执行</Option>
                <Option value="2" class="ivu-select-2">扣款中</Option>
                <Option value="3" class="ivu-select-3">已划扣</Option>
                <Option value="4" class="ivu-select-4">划扣失败</Option>
                <Option value="5" class="ivu-select-5">部分划扣</Option>
                <Option value="6" class="ivu-select-6">主动回款</Option>
              </Select>
            </Form-item> -->
            <Form-item label="创建时间" prop="create_time">
              <DatePicker
                v-model="selectDateDrawer"
                type="daterange"
                format="yyyy-MM-dd"
                clearable
                @on-change="selectDateRangeDrawer"
                placeholder="选择起始时间"
                style="width: 200px"
              ></DatePicker>
            </Form-item>

            <Form-item style="margin-left:-35px;" class="br">
              <Button @click="handleSearchDrawer" type="primary" icon="ios-search">搜索</Button>
              <Button @click="handleResetDrawer">重置</Button>
            </Form-item>
          </Form>
        </Row>
        <Row>
          <Table
            :loading="loadingDrawer"
            border
            :columns="columnsDrawer"
            :data="dataDrawer"
            sortable="custom"
            @on-sort-change="changeSort"
            @on-selection-change="changeSelect"
          ></Table>
        </Row>
        <Row type="flex" justify="end" class="page">
          <Page
            :current="searchFormDrawer.pageNumber"
            :total="searchFormDrawer.total"
            :page-size="searchFormDrawer.pageSize"
            @on-change="changePageDrawer"
            @on-page-size-change="changePageSizeDrawer"
            :page-size-opts="[10,20,50]"
            size="small"
            show-total
            show-elevator
            show-sizer
          ></Page>
        </Row>
      </Row>
    </Drawer>
    <!-- 导入文件 -->
    <Drawer title="导入数据" closable v-model="importModalVisible" width="1000">
      <Upload action :before-upload="beforeUploadImport" accept=".xls, .xlsx">
        <Button icon="ios-cloud-upload-outline" style="margin-right:10px">上传Excel文件</Button>
        <span v-if="uploadfile.name!=''">当前选择文件：{{ uploadfile.name }}</span>
      </Upload>
      <Alert type="warning" show-icon>导入前请下载查看导入模版数据文件，确保数据格式正确，不得修改列英文名称。必需数据字段：用户名(唯一)、密码(明文)</Alert>
      <Table :columns="importColumns" border height="510" :data="importTableData" ref="importTable"></Table>
      <div class="drawer-footer">
        <Button @click="downloadTemple" type="info" style="position:absolute;left:15px;">下载导入模板</Button>
        <Button @click="importModalVisible=false">关闭</Button>
        <Button
          :loading="importLoading"
          :disabled="importTableData.length<=0"
          @click="importData"
          style="margin-left:5px"
          type="primary"
        >
          确认导入
          <span v-if="importTableData.length>0">{{importTableData.length}} 条数据</span>
        </Button>
      </div>
    </Drawer>
    <Modal
      :title="modalTitle"
      v-model="billModalVisible"
      :mask-closable="false"
      :width="960"
      :styles="{top: '30px'}"
    >
      <Row>
        <Table
          :loading="loadingDetails"
          border
          :columns="columnsDetails"
          :data="dataDetails"
          sortable="custom"
          @on-sort-change="changeSort"
          @on-selection-change="changeSelect"
        ></Table>
      </Row>
      <Row type="flex" justify="end" class="page">
        <Page
          :current="searchFormDetails.pageNumber"
          :total="searchFormDetails.total"
          :page-size="searchFormDetails.pageSize"
          @on-change="changePageDetails"
          @on-page-size-change="changePageSizeDetails"
          :page-size-opts="[10,20,50]"
          size="small"
          show-total
          show-elevator
          show-sizer
        ></Page>
      </Row>
    </Modal>
  </div>
</template>

<script>
import {
  getBill,
  exportBill,
  getByCondition,
  batchGetByCondition,
  billGetListById,
  billSetHasBill,
  uploadFile,
  billImportData
} from "@/api/index";
import circleLoading from "@/views/my-components/circle-loading.vue";
import { exportColumn } from "./exportColumn";
// 模版导入文件表数据
import { userColumns, userData } from "@/libs/importTemplateBill";
import excel from "@/libs/excel";
export default {
  name: "pay_bill_list",
  components: {
    circleLoading
  },
  data() {
    return {
      importModalVisible: false, //导入right抽屉
      importColumns: [],
      importTableData: [],
      uploadfile: {
        name: ""
      },
      tempColumns: userColumns,
      tempData: userData,
      importLoading: false,
      allAmount: "0.00", //总金额
      loading: false, // 表单加载状态
      loadingDrawer: false, // 表单加载状态
      loadingDetails: false, //弹出层表格加载状态
      operationLoading: false, // 操作加载状态
      modalType: 0, // 添加或编辑标识
      exportModalVisible: false,
      loadingExport: true,
      drop: false,
      dropDownContent: "展开",
      dropDownIcon: "ios-arrow-down",
      modalTitle: "任务单详情明细",
      billModalVisible: false,
      searchForm: {
        // 搜索框初始化对象
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc", // 默认排序方式
        startDate: "", // 起始时间
        endDate: "", // 终止时间
        batchNo: "", //批次号
        bizNo: "", //业务号
        bizAgreementNo: "", //合同号
        billState: "" //状态
      },
      searchFormDrawer: {
        // 搜索框初始化对象
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc", // 默认排序方式
        startDate: "", // 起始时间
        endDate: "", // 终止时间
        billState: "" //状态
      },
      searchFormDetails: {
        // 搜索框初始化对象
        id: "", //id
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc", // 默认排序方式
        startDate: "", // 起始时间
        endDate: "", // 终止时间
        billState: "" //状态
      },
      selectDate: null,
      selectDateDrawer: null,
      selectList: [], // 多选数据
      selectCount: 0, // 多选计数
      columns: [
        // 表头
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          type: "index",
          title: "序号",
          width: 70,
          align: "center"
        },
        {
          title: "批次号",
          key: "batchNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "状态",
          key: "billStateDesc",
          width: 100,
          align: "center",
          className: "chenwang"
        },
        {
          title: "渠道-流水号",
          key: "dtOrder",
          minWidth: 200,
          align: "center"
        },
        {
          title: "业务号",
          key: "bizNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "合同号",
          key: "bizAgreementNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "客户名",
          key: "customerName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "应划扣金额（元）",
          key: "amount2",
          minWidth: 150,
          align: "center"
        },
        {
          title: "已划扣金额（元）",
          key: "hasKillAmount",
          minWidth: 150,
          align: "center"
        },
        {
          title: "手续费（元）",
          key: "costs",
          minWidth: 150,
          align: "center"
        },
        {
          title: "创建时间",
          key: "createTime",
          minWidth: 200,
          align: "center"
        },
        {
          title: "操作",
          key: "action",
          width: 200,
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.details(params.row);
                    }
                  }
                },
                "查看明细"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "warning",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px",
                    display: params.row.billState == 1 ? "inline-block" : params.row.billState == 4 ?  "inline-block" : "none" 
                  },
                  on: {
                    click: () => {
                      this.setHasBill(params.row);
                    }
                  }
                },
                "主动回款"
              )
            ]);
          }
        }
      ],
      columnsDrawer: [
        // 表头
        {
          type: "index",
          title: "序号",
          width: 70,
          align: "center"
        },
        {
          title: "批次号",
          key: "batchNo",
          minWidth: 250,
          align: "center"
        },
        {
          title: "创建时间",
          key: "createTime",
          minWidth: 250,
          align: "center"
        },
        {
          title: "操作",
          key: "action",
          width: 115,
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.callback(params.row);
                    }
                  }
                },
                "选择"
              )
            ]);
          }
        }
      ],
      columnsDetails: [
        {
          type: "index",
          title: "序号",
          width: 70,
          align: "center"
        },
        {
          title: "批次号",
          key: "batchNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "订单号",
          key: "orderId",
          minWidth: 200,
          align: "center"
        },
        {
          title: "合同号",
          key: "bizAgreementNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "客户名",
          key: "customerName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "任务单号",
          key: "taskId",
          minWidth: 200,
          align: "center"
        },
        {
          title: "任务单划扣时间",
          key: "createTime",
          minWidth: 200,
          align: "center"
        },
        {
          title: "流水号",
          key: "dtOrder",
          minWidth: 200,
          align: "center"
        },
        {
          title: "业务号",
          key: "bizNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "商户号",
          key: "merchantNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "渠道",
          key: "channelName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "金额（元）",
          key: "amount",
          minWidth: 120,
          align: "center"
        },
        {
          title: "手续费（元）",
          key: "costs",
          minWidth: 120,
          align: "center"
        },
        {
          title: "状态",
          key: "billStateDesc",
          width: 100,
          align: "center"
        },
        {
          title: "错误原因",
          key: "respMsg",
          minWidth: 200,
          align: "center"
        }
      ],
      exportColumns: exportColumn,
      chooseColumns: [],
      filename: "用户数据",
      exportTitle: "确认导出",
      exportType: "",
      exportData: [], //导出数据
      data: [], // 表单数据
      dataDrawer: [], //抽屉表单数据
      dataDetails: [], //弹出层表格
      editDrawerVisible: false, //抽屉
      pageNumber: 1, // 当前页数
      pageNumberDetails: 10, //明细数据列表
      pageSize: 10, // 页面大小
      pageSizeDetails: 10, //详情页面大小
      total: 0, // 表单数据总数数
      totalDetails: 0, // 详情页面总数
      description: "" //描述信息
    };
  },
  methods: {
    init() {
      //this.getBill();
      // 初始化导出列数据
      let array = [];
      this.exportColumns.forEach(e => {
        // 指定列限制权限
        if (
          !this.getStore("roles").includes("ROLE_ADMIN") &&
          e.key === "mobile"
        ) {
          e.title = "[无权导出] " + e.title;
          e.disabled = true;
        } else {
          e.disabled = false;
        }
        array.push(e.title);
      });
      this.chooseColumns = array;
    },
    //导入数据
    importBtn() {
      this.uploadfile = {
        name: ""
      };
      this.importTableData = [];
      this.importColumns = [];
      this.importModalVisible = true;
    },
    beforeUploadImport(file) {
      this.uploadfile = file;
      const fileExt = file.name
        .split(".")
        .pop()
        .toLocaleLowerCase();
      if (fileExt === "xlsx" || fileExt === "xls") {
        this.readFile(file);
        this.file = file;
      } else {
        this.$Notice.warning({
          title: "文件类型错误",
          desc:
            "所选文件‘ " +
            file.name +
            " ’不是EXCEL文件，请选择后缀为.xlsx或者.xls的EXCEL文件。"
        });
      }
      return false;
    },
    // 读取文件
    readFile(file) {
      const reader = new FileReader();
      reader.readAsArrayBuffer(file);
      reader.onerror = e => {
        this.$Message.error("文件读取出错");
      };
      reader.onload = e => {
        this.$Message.success("读取数据成功");
        const data = e.target.result;
        const { header, results } = excel.read(data, "array");
        const tableTitle = header.map(item => {
          return { title: item, key: item };
        });
        this.importTableData = results;
        this.importColumns = tableTitle;
        console.log(this.importColumns);
        console.log(this.importTableData);
      };
    },
    downloadTemple() {
      let title = [];
      let key = [];
      userColumns.forEach(e => {
        title.push(e.title);
        key.push(e.key);
      });
      const params = {
        title: title,
        key: key,
        data: userData,
        autoWidth: true,
        filename: "导入用户数据模版"
      };
      excel.export_array_to_excel(params);
    },
    importData() {
      this.importLoading = true;
      let importData = [];
      let titleDate = [];
      //遍历模板数据 importTemplateBil.js
      userColumns.forEach((item, index) => {
        titleDate.push(item.key);
      });
      //遍历上传的文件数据
      this.importTableData.forEach((item, index, i) => {
        let merge = {};
        var index = 0;
        for (const attr in item) {
          if (item.hasOwnProperty(attr)) {
            merge[titleDate[index]] = item[attr];
            index++;
          }
        }
        importData.push(merge);
      });

      this.importTableData = importData;
      //console.log( this.importTableData)
      //合并数据
      // titleDate.forEach((item, index) => {
      //    let bb = item;
      //    this.importTableData.push({[bb]:importData[index]})
      // })
      //console.log(this.importTableData);
      billImportData(this.importTableData).then(res => {
        this.importLoading = false;
        if (res.success) {
          this.importModalVisible = false;
          this.getByCondition();
          this.$Modal.info({
            title: "导入结果",
            content: res.message
          });
        }
      });
    },
    changePage(v) {
      this.searchForm.pageNumber = v;
      this.getByCondition();
      this.clearSelectAll();
    },
    changePageDrawer(v) {
      this.searchFormDrawer.pageNumber = v;
      this.searchFormDrawer.pageNumber = v;
      this.getBillDrawer();
    },
    changePageDetails(v) {
      this.searchFormDetails.pageNumber = v;
      this.details({ id: this.searchFormDetails.id });
    },
    changePageSizeDetails(v) {
      this.searchFormDetails.pageSize = v;
      console.log(this.searchFormDetails.id);
      this.details({ id: this.searchFormDetails.id });
    },
    changePageSize(v) {
      this.searchForm.pageSize = v;
      this.getByCondition();
    },
    changePageSizeDrawer(v) {
      this.searchFormDrawer.pageSize = v;
      this.getBillDrawer();
    },
    handleSearch() {
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.getByCondition();
    },
    handleSearchDrawer() {
      this.searchFormDrawer.pageNumber = 1;
      this.searchFormDrawer.pageSize = 10;
      this.getBillDrawer();
    },
    handleReset() {
      this.$refs.searchForm.resetFields();
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.selectDate = null;
      this.searchForm.startDate = "";
      this.searchForm.endDate = "";
      // 重新加载数据
      this.getByCondition();
    },
    handleResetDrawer() {
      this.$refs.searchFormDrawer.resetFields();
      this.searchFormDrawer.pageNumber = 1;
      this.searchFormDrawer.pageSize = 10;
      this.selectDateDrawer = null;
      this.searchFormDrawer.startDate = "";
      this.searchFormDrawer.endDate = "";
      this.getBillDrawer();
    },
    showDrawer() {
      this.editDrawerVisible = true;
    },
    details(v) {
      this.searchFormDetails.id = v.id; //获取id
      billGetListById(this.searchFormDetails).then(res => {
        this.loadingDetails = false;
        if (res.success === true) {
          let changeColorIndex = [];
          if (res.result.content.length > 0) {
            res.result.content.forEach(item => {
              switch (item.billState) {
                case "1":
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-warning"
                  };
                  changeColorIndex.push(item);
                  break;
                case "2":
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-doing"
                  };
                  changeColorIndex.push(item);
                  break;
                case "3":
                  item.cellClassName = { billStateDesc: "ivu-select-item-end" };
                  changeColorIndex.push(item);
                  break;
                case "4":
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-error"
                  };
                  changeColorIndex.push(item);
                  break;
                case "5":
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-part"
                  };
                  changeColorIndex.push(item);
                  break;
                case "6":
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-receivable"
                  };
                  changeColorIndex.push(item);
                  break;
              }
            });
          }
          this.dataDetails = changeColorIndex;
          this.searchFormDetails.total = res.result.totalElements;
        }
      });
      this.billModalVisible = true;
    },
    callback(v) {
      console.log(v.id);
      this.searchForm.batchNo = v.batchNo;
      this.editDrawerVisible = false;
    },
    submitEdit() {
      this.editDrawerVisible = false;
    },
    getBill() {
      // 多条件搜索用户列表
      this.loading = true;
      // 避免后台默认值
      if (!this.searchForm.type) {
        this.searchForm.type = "";
      }
      if (!this.searchForm.status) {
        this.searchForm.status = "";
      }
      getBill().then(res => {
        this.loading = false;
        if (res.success === true) {
          this.data = res.result.content;
          this.total = res.result.totalElements;
        }
      });
    },
    getByCondition() {
      this.loading = true;
      if (!this.searchForm.type) {
        this.searchForm.type = "";
      }
      if (!this.searchForm.status) {
        this.searchForm.status = "";
      }
      getByCondition(this.searchForm).then(res => {
        this.loading = false;
        if (res.success === true) {
          let changeColor = [];
          if (res.result.page.content.length > 0) {
            res.result.page.content.forEach(item => {
              switch (item.billState) {
                case 1:
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-warning"
                  };
                  changeColor.push(item);
                  break;
                case 2:
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-doing"
                  };
                  changeColor.push(item);
                  break;
                case 3:
                  item.cellClassName = { billStateDesc: "ivu-select-item-end" };
                  changeColor.push(item);
                  break;
                case 4:
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-error"
                  };
                  changeColor.push(item);
                  break;
                case 5:
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-part"
                  };
                  changeColor.push(item);
                  break;
                case 6:
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-receivable"
                  };
                  changeColor.push(item);
                  break;
              }
            });
          }
          this.data = changeColor;
          this.allAmount = res.result.allAmount;
          this.total = res.result.page.totalElements;
        }
      });
    },
    setHasBill(v) {
      this.$Modal.confirm({
        title: "主动回款",
        // 主动还款按钮
        content: "<p>您确认要将" + v.customerName + " 更改为主动回款?<p>",
        // render: h => {
        //   return h("Input", {
        //     props: {
        //       value: this.description,
        //       autofocus: true,
        //       placeholder: "请输入备注信息"
        //     },
        //     on: {
        //       input: val => {
        //         this.description = val;
        //       }
        //     }
        //   });
        // },
        onOk: () => {
          // 删除
          this.operationLoading = true;
          billSetHasBill({ billId: v.id }).then(
            res => {
              this.operationLoading = false;
              if (res.success === true) {
                this.$Message.success("操作成功");
                this.getDataList();
              }
            }
          );
        }
      });
    },
    getBillDrawer() {
      // 多条件搜索用户列表
      this.loadingDrawer = true;
      // 避免后台默认值
      if (!this.searchFormDrawer.type) {
        this.searchFormDrawer.type = "";
      }
      if (!this.searchFormDrawer.status) {
        this.searchFormDrawer.status = "";
      }
      batchGetByCondition(this.searchFormDrawer).then(res => {
        this.loadingDrawer = false;
        if (res.success === true) {
          this.dataDrawer = res.result.content;
          this.searchFormDrawer.total = res.result.totalElements;
        }
      });
    },
    getDataList() {
      this.getByCondition();
    },
    handleDropdown(name) {
      if (name === "exportData") {
        if (this.selectCount <= 0) {
          this.$Message.warning("您还未选择要导出的数据");
          return;
        }
        this.exportType = "part";
        this.exportModalVisible = true;
        this.exportTitle = "确认导出 " + this.selectCount + " 条数据";
        this.exportColumns = exportColumn;
        this.init();
      } else if (name === "exportAll") {
        this.exportType = "all";
        this.exportColumns = exportColumn;
        this.init();
        exportBill().then(res => {
          if (res.success) {
            this.exportData = res.result.list;
            //this.total = res.result.total;
            this.exportTitle = "确认导出全部 " + res.result.total + " 条数据";
            this.exportModalVisible = true;
          } else {
            this.$Message.warning(res.message);
            this.exportModalVisible = false;
          }
        });
      } else if (name === "importData") {
        this.importModalVisible = true;
      }
    },
    exportCustomData() {
      if (this.filename == "") {
        this.filename = "用户数据";
      }
      // 判断勾选导出列
      let array = [];
      this.exportColumns.forEach(e => {
        this.chooseColumns.forEach(c => {
          if (e.title === c && !e.disabled) {
            array.push(e);
          }
        });
      });
      this.exportColumns = array;
      this.exportModalVisible = false;
      let title = [];
      let key = [];
      this.exportColumns.forEach(e => {
        title.push(e.title);
        key.push(e.key);
      });
      const params = {
        title: title,
        key: key,
        data: this.exportData,
        autoWidth: true,
        filename: this.filename
      };
      excel.export_array_to_excel(params);
    },
    changeSort(e) {
      this.searchForm.sort = e.key;
      this.searchForm.order = e.order;
      if (e.order === "normal") {
        this.searchForm.order = "";
      }
      this.getByCondition();
    },
    clearSelectAll() {
      this.$refs.table.selectAll(false);
    },
    changeSelect(e) {
      this.exportData = e;
      this.selectList = e;
      this.selectCount = e.length;
    },
    selectDateRange(v) {
      if (v) {
        this.searchForm.startDate = v[0];
        this.searchForm.endDate = v[1];
      }
    },
    selectDateRangeDrawer(v) {
      if (v) {
        this.searchFormDrawer.startDate = v[0];
        this.searchFormDrawer.endDate = v[1];
      }
    },
    dropDown() {
      if (this.drop) {
        this.dropDownContent = "展开";
        this.dropDownIcon = "ios-arrow-down";
      } else {
        this.dropDownContent = "收起";
        this.dropDownIcon = "ios-arrow-up";
      }
      this.drop = !this.drop;
    }
  },
  mounted() {
    this.init();
  }
};
</script>
<style lang="less">
.operation {
  margin-bottom: 2vh;
}
.page {
  margin-top: 2vh;
}
.search {
  .select-count {
    font-size: 13px;
    font-weight: 600;
    color: #40a9ff;
  }
  .select-clear {
    margin-left: 10px;
  }
  .drop-down {
    font-size: 13px;
    margin-left: 5px;
  }
}
.ivu-select-1,
.ivu-select-item-warning {
  color: #ff9900;
}
.ivu-select-2,
.ivu-select-item-doing {
  color: #2b85e4;
}
.ivu-select-3,
.ivu-select-item-end {
  color: #19be6b;
}
.ivu-select-4,
.ivu-select-item-error {
  color: #ed4014;
}
.ivu-select-5,
.ivu-select-item-part {
  color: #2db7f5;
}
.ivu-select-6,
.ivu-select-item-receivable {
  color: #ff1493;
}
.drawer-footer {
  z-index: 10;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
}
</style>