<style lang="less">
@import "./channelBankList.less";
</style>
<template>
  <div class="search">
    <Row>
      <Col>
        <Card>
          <Row class="operation">
            <!-- <Button @click="add" type="primary" icon="md-add">添加</Button> -->
            <Button @click="delAll" icon="md-trash">批量删除</Button>
            <Button @click="getDataList" icon="md-refresh">刷新</Button>
            <circleLoading v-if="operationLoading" />
          </Row>
          <Row>
            <Alert show-icon>
              已选择
              <span class="select-count">{{selectCount}}</span> 项
              <a class="select-clear" @click="clearSelectAll">清空</a>
            </Alert>
          </Row>
          <Row>
            <Table
              :loading="loading"
              border
              :columns="columns"
              :data="data"
              ref="table"
              sortable="custom"
              @on-sort-change="changeSort"
              @on-selection-change="changeSelect"
            ></Table>
          </Row>
          <Row type="flex" justify="end" class="page">
            <Page
              :current="pageNumber"
              :total="total"
              :page-size="pageSize"
              @on-change="changePage"
              @on-page-size-change="changePageSize"
              :page-size-opts="[10,20,50]"
              size="small"
              show-total
              show-elevator
              show-sizer
            ></Page>
          </Row>
        </Card>
      </Col>
    </Row>
    <Modal
      :title="modalTitle"
      v-model="modalVisible"
      :mask-closable="false"
      :width="480"
      :z-index="100"
    >
      <Form ref="form" :model="form" :label-width="110" :rules="formValidate">
        <FormItem label="渠道名称" prop="thirdPaymentName">
          <Input v-model="form.thirdPaymentName" style="width:270px" disabled />
        </FormItem>
        <FormItem label="银行名称" prop="bankName">
          <Input v-model="form.bankName" style="width:270px" disabled />
        </FormItem>
        <FormItem label="银行简称" prop="abbrName">
          <Input v-model="form.abbrName" style="width:270px" placeholder="请输入银行简称" />
        </FormItem>
        <FormItem label="月限额" prop="monthQuota">
          <Input
            v-model="form.monthQuota"
            style="width:270px;margin-right:10px;"
            placeholder="请输入月限额;"
            :maxlength = maxLength
          />
          <span>元</span>
        </FormItem>
        <FormItem label="日限额" prop="dayQuota">
          <Input
            v-model="form.dayQuota"
            style="width:270px;margin-right:10px;"
            placeholder="请输入日限额;"
            :maxlength = maxLength
          />
          <span>元</span>
        </FormItem>
        <FormItem label="单笔限额" prop="onceQuota">
          <Input
            v-model="form.onceQuota"
            style="width:270px;margin-right:10px;"
            placeholder="请输入单笔限额;"
            :maxlength = maxLength
          />
          <span>元</span>
        </FormItem>
      </Form>
      <div slot="footer">
        <Button type="text" @click="modalVisible=false">取消</Button>
        <Button type="primary" :loading="submitLoading" @click="handleSubmit">提交</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import {
  thirdPaymentGetAll,
  thirdPaymentSave,
  thirdPaymentForbidden,
  thirdPaymentPayMentList,
  baofooThirdPayment,
  baofooThirdPaymentUpdateData,
  thirdPaymentGetPayDetail,
  thirdPaymentSaveData,
  thirdPaymentUpdateData,
  thirdPaymentGetByCondition,
  thirdPaymentDelByIds,
  thirdPaymentUpdatePrority,
  bankQuotaUpdate,
  bankQuotaDelByIds
} from "@/api/index";
import circleLoading from "@/views/my-components/circle-loading.vue";
export default {
  name: "pay_bank_list",
  components: {
    circleLoading
  },
  data() {
    return {
      bankList: [],
      maxLength: 11,
      loading: true, // 表单加载状态
      operationLoading: false, // 操作加载状态
      modalType: 0, // 添加或编辑标识
      modalVisible: false, // 添加或编辑显示
      modalTitle: "", // 添加或编辑标题
      searchForm: {
        // 搜索框初始化对象
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc", // 默认排序方式
        thirdPaymentId: ""
      },
      form: {
        // 添加或编辑表单对象初始化数据
        thirdPaymentName: "",
        bankName: "",
        abbrName: "",
        monthQuota: "",
        dayQuota: "",
        onceQuota: ""
      },
      // 表单验证规则
      formValidate: {
        monthQuota: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        abbrName: [{ required: true, message: "不能为空", trigger: "change" }],
        dayQuota: [{ required: true, message: "不能为空", trigger: "change" }],
        onceQuota: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      submitLoading: false, // 添加或编辑提交状态
      selectList: [], // 多选数据
      selectCount: 0, // 多选计数
      columns: [
        // 表头
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          type: "index",
          title: "序号",
          width: 64,
          align: "center"
        },
        {
          title: "渠道名称",
          key: "thirdPaymentName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "银行名称",
          key: "bankName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "银行简称",
          key: "abbrName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "月限额（元）",
          key: "monthQuota",
          minWidth: 120,
          align: "center"
        },
        {
          title: "日限额（元）",
          key: "dayQuota",
          minWidth: 120,
          align: "center"
        },
        {
          title: "单笔限额（元）",
          key: "onceQuota",
          minWidth: 160,
          align: "center"
        },
        {
          title: "操作",
          key: "action",
          align: "center",
          width: 270,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small",
                    icon: "ios-create-outline"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.edit(params.row);
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small",
                    icon: "md-trash"
                  },
                  on: {
                    click: () => {
                      this.remove(params.row);
                    }
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      data: [], // 表单数据
      pageNumber: 1, // 当前页数
      pageSize: 10, // 页面大小
      total: 0, // 表单数据总数
      getSelectList: ""
    };
  },
  //监控详情是否发生了变化
  watch: {
    // 如果路由有变化，会再次执行该方法
    $route: "init"
  },
  methods: {
    init() {
      this.getchannelList(); //初始化列表
      this.getSelectOption(); //初始化新增下拉菜单
    },
    change(v) {},
    //获取增加下拉列表
    getSelectOption() {
      thirdPaymentPayMentList().then(res => {
        if (res.success === true) {
          this.getSelectList = res.result;
        }
      });
    },
    changeStatus(row, v) {
      thirdPaymentForbidden({ id: row.id, state: v }).then(res => {
        this.loading = false;
        if (res.success === true) {
          this.$Message.success("修改用户" + row.thirdPayName + "状态成功");
        }
      });
    },
    changePage(v) {
      this.searchForm.pageNumber = v;
      this.getDataList();
      this.clearSelectAll();
    },
    changePageSize(v) {
      this.searchForm.pageSize = v;
      this.getDataList();
    },
    handleSearch() {
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.getDataList();
    },
    handleReset() {
      this.$refs.searchForm.resetFields();
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      // 重新加载数据
      this.getDataList();
    },
    changeSort(e) {
      this.searchForm.sort = e.key;
      this.searchForm.order = e.order;
      if (e.order === "normal") {
        this.searchForm.order = "";
      }
      this.getDataList();
    },
    clearSelectAll() {
      this.$refs.table.selectAll(false);
    },
    changeSelect(e) {
      this.selectList = e;
      this.selectCount = e.length;
    },
    getDataList() {
      this.getchannelList();
    },
    getchannelList() {
      this.searchForm.thirdPaymentId = this.$route.query.id; //获取router id;
      // this.searchForm.id = this.$route.
      // 多条件搜索用户列表
      this.loading = true;
      // 避免后台默认值
      if (!this.searchForm.type) {
        this.searchForm.type = "";
      }
      if (!this.searchForm.status) {
        this.searchForm.status = "";
      }
      thirdPaymentGetPayDetail(this.searchForm).then(res => {
        this.loading = false;
        if (res.success === true) {
          this.data = res.result.content;
          this.total = res.result.totalElements;
        }
      });
    },
    handleSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.submitLoading = true;
          if (this.modalType === 0) {
            // 添加 避免编辑后传入id等数据 记得删除
            delete this.form.id;
            thirdPaymentSaveData(this.form).then(res => {
              this.submitLoading = false;
              if (res.success === true) {
                this.$Message.success("操作成功");
                this.getchannelList();
                this.modalVisible = false;
              }
            });
          } else {
            // 编辑
            bankQuotaUpdate(this.form).then(res => {
              this.submitLoading = false;
              if (res.success === true) {
                this.$Message.success("操作成功");
                this.getDataList();
                this.modalVisible = false;
              }
            });
          }
        }
      });
    },
    add() {
      this.modalType = 0;
      this.modalTitle = "新增渠道";
      this.$refs.form.resetFields();
      delete this.form.id;
      this.modalVisible = true;
    },
    edit(v) {
      this.modalType = 1;
      this.modalTitle = "编辑渠道";
      // 转换null为""
      for (let attr in v) {
        if (v[attr] === null) {
          v[attr] = "";
        }
      }
      let str = JSON.stringify(v);
      let data = JSON.parse(str);
      this.form = data;
      this.$refs.form.resetFields();
      this.modalVisible = true;
    },
    remove(v) {
      this.$Modal.confirm({
        title: "确认删除",
        // 记得确认修改此处
        content: "您确认要删除 " + v.bankName + " ?",
        onOk: () => {
          // 删除
          this.operationLoading = true;
          bankQuotaDelByIds(v.id).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.getDataList();
            }
          });
        }
      });
    },
    delAll() {
      if (this.selectCount <= 0) {
        this.$Message.warning("您还未选择要删除的数据");
        return;
      }
      this.$Modal.confirm({
        title: "确认删除",
        content: "您确认要删除所选的 " + this.selectCount + " 条数据?",
        onOk: () => {
          let ids = "";
          this.selectList.forEach(function(e) {
            ids += e.id + ",";
          });
          ids = ids.substring(0, ids.length - 1);
          // 批量删除
          this.operationLoading = true;
          bankQuotaDelByIds(ids).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.clearSelectAll();
              this.getDataList();
            }
          });
        }
      });
    }
  },
  mounted() {
    this.init();
  }
};
</script>