<template>
  <div class="search">
    <Row>
      <Col>
        <Card>
          <Row>
            <Alert show-icon>解绑银行卡</Alert>
          </Row>
          <Row class="formBox">
            <Form ref="form" :model="form" :label-width="110" :rules="formValidate">
              <FormItem label="用户ID" prop="userId">
                <Input v-model="form.userId" placeholder="请输入用户ID" style="width:300px" />
              </FormItem>
              <FormItem label="渠道ID" prop="channelId">
                <Input v-model="form.channelId" placeholder="请输入渠道ID" style="width:300px" />
              </FormItem>
              <FormItem label="商户号" prop="merchantId">
                <Input v-model="form.merchantId" placeholder="请输入商户号" style="width:300px" />
              </FormItem>
              <FormItem label="协议号" prop="protocolNo">
                <Input v-model="form.protocolNo" placeholder="请输入协议号" style="width:300px" />
              </FormItem>
              <FormItem>
                <Button type="warning" @click="reset">重置</Button>
                <Button type="primary" @click="handleSubmit" class="submitBtn">提交</Button>
              </FormItem>
            </Form>
          </Row>
        </Card>
      </Col>
    </Row>
  </div>
</template>

<script>
import {
  bizForbidden
} from "@/api/index";
import circleLoading from "@/views/my-components/circle-loading.vue";
export default {
  name: "unbindCard",
  components: {},
  data() {
    return {
      form: {
        // 数据绑定
        userId: "",
        channelId: "",
        merchantId: "",
        protocolNo: ""
      },
      // 表单验证规则
      formValidate: {
        userId: [{ required: true, message: "不能为空", trigger: "blur" }],
        channelId: [{ required: true, message: "不能为空", trigger: "blur" }],
        merchantId: [{ required: true, message: "不能为空", trigger: "blur" }],
        protocolNo: [{ required: true, message: "不能为空", trigger: "blur" }]
      }
    };
  },
  methods: {
    handleSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          console.log(123)
          bizForbidden(this.form).then(res => {
            this.loading = false;
            if (res.success === true) {
              this.$Message.success("修改用户" + row.bizName + "状态成功");
            }
          });
        }
      });
    },
    //重置
    reset() {
      this.$refs.form.resetFields();
    }
  },
  mounted() {}
};
</script>
<style lang="less">
.search {
  .operation {
    margin-bottom: 2vh;
  }
  .select-count {
    font-size: 13px;
    font-weight: 600;
    color: #40a9ff;
  }
  .select-clear {
    margin-left: 10px;
  }
  .page {
    margin-top: 2vh;
  }
  .drop-down {
    font-size: 13px;
    margin-left: 5px;
  }
}
.formBox {
  margin-top: 20px;
}
.submitBtn {
  margin-left: 9px;
}
</style>