<style lang="less">
@import "./task-list.less";
</style>
<template>
  <div class="search">
    <Card>
      <Row type="flex" justify="space-between" class="code-row-bg">
        <Col v-if="expand" span="5">
          <Alert show-icon>
            当天跑批任务
            <!-- <span class="select-title">{{editTitle}}</span>
            <a class="select-clear" v-if="editTitle" @click="cancelEdit">取消选择</a>-->
          </Alert>
          <!-- <Input
            v-model="searchKey"
            suffix="ios-search"
            @on-change="search"
            placeholder="输入定时任务时间搜索"
            clearable
          />-->
          <div class="tree-bar" :style="{maxHeight: maxHeight}">
            <Tree ref="tree" :data="treeData" :load-data="loadData" @on-select-change="selectTree"></Tree>
          </div>
          <Spin size="large" fix v-if="treeLoading"></Spin>
        </Col>
        <div class="expand">
          <Icon :type="expandIcon" size="16" class="icon" @click="changeExpand" />
        </div>
        <Col :span="span">
          <Row class="operation">
            <circleLoading v-if="operationLoading" />
          </Row>

          <Row class="operation">
            <Button type="primary" @click="handleDropdown">导出</Button>
            <Button @click="getReset" icon="md-refresh">刷新</Button>
            <circleLoading v-if="operationLoading" />
          </Row>

          <Row>
            <Table
              :loading="loading"
              border
              :columns="columns"
              :data="data"
              sortable="custom"
              @on-sort-change="changeSort"
              @on-selection-change="showSelect"
              ref="table"
            ></Table>
          </Row>
          <Row type="flex" justify="end" class="page">
            <Page
              :current="searchForm.pageNumber"
              :total="total"
              :page-size="searchForm.pageSize"
              @on-change="changePage"
              @on-page-size-change="changePageSize"
              :page-size-opts="[10,20,50]"
              size="small"
              show-total
              show-elevator
              show-sizer
            ></Page>
          </Row>
        </Col>
      </Row>
    </Card>

    <Modal
      :title="modalTitle"
      v-model="modalVisible"
      :mask-closable="false"
      :width="500"
      :styles="{top: '30px'}"
    >
      <Form ref="form" :model="form" :label-width="70" :rules="formValidate">
        <FormItem label="名称" prop="name">
          <Input v-model="form.name" />
        </FormItem>
      </Form>
      <div slot="footer">
        <Button type="text" @click="modalVisible=false">取消</Button>
        <Button type="primary" :loading="submitLoading" @click="handelSubmit">提交</Button>
      </div>
    </Modal>
    <!-- 自定义导出数据 -->
    <Modal
      v-model="exportModalVisible"
      :title="exportTitle"
      :loading="loadingExport"
      @on-ok="exportCustomData"
    >
      <Form ref="exportForm" :label-width="85">
        <FormItem label="导出文件名">
          <Input v-model="filename" />
        </FormItem>
        <FormItem label="自定义导出列">
          <CheckboxGroup v-model="chooseColumns">
            <Checkbox
              v-for="(item, i) in exportColumns"
              :label="item.title"
              :key="i"
              :value="item.checked"
              :disabled="item.disabled"
            ></Checkbox>
          </CheckboxGroup>
        </FormItem>
      </Form>
    </Modal>
  </div>
</template>

<script>
import {
  getAllUserData,
  taskBillGetByCondition,
  taskBillGetByConditionRight,
  exportTaskBill
} from "@/api/index";
import circleLoading from "@/views/my-components/circle-loading.vue";
import { exportColumn } from "./exportColumn";
import excel from "@/libs/excel";
export default {
  name: "taskList",
  components: {
    circleLoading
  },
  data() {
    return {
      treeLoading: false, // 树加载状态
      editDrawerVisible: false, // 抽屉
      maxHeight: "500px",
      loading: false, // 表加载状态
      //editTitle: "", // 编辑节点名称
      //searchKey: "", // 搜索树
      exportType: "",
      exportModalVisible: false,
      loadingExport: true,
      exportTitle: "确认导出",
      filename: "用户数据",
      chooseColumns: [],
      exportColumns: exportColumn,
      expand: true,
      span: 18,
      expandIcon: "ios-arrow-back",
      selectNode: {},
      treeData: [], // 树数据
      operationLoading: false, // 操作加载状态
      selectCount: 0, // 多选计数
      selectList: [], // 多选数据
      searchForm: {
        // 搜索框对应data对象
        name: "",
        status: "",
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc" // 默认排序方式
      },
      modalType: 0, // 添加或编辑标识
      modalVisible: false, // 添加或编辑显示
      modalTitle: "", // 添加或编辑标题
      form: {
        // 添加或编辑表单对象初始化数据
        name: "",
        sex: 1,
        type: 0
      },
      formValidate: {
        // 表单验证规则
        name: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      columns: [
        {
          type: "index",
          title: "序号",
          width: 70,
          align: "center"
        },
        {
          title: "合同号",
          key: "bizAgreementNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "订单号",
          key: "orderId",
          minWidth: 200,
          align: "center"
        },
        {
          title: "业务方",
          key: "bizName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "商户号",
          key: "merchantNo",
          minWidth: 200,
          align: "center"
        },
        {
          title: "渠道",
          key: "channelName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "流水号",
          key: "dtOrder",
          minWidth: 200,
          align: "center"
        },
        {
          title: "客户名",
          key: "name",
          minWidth: 120,
          align: "center"
        },
        {
          title: "银行名称",
          key: "bankName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "金额（元）",
          key: "amount2",
          minWidth: 120,
          align: "center"
        },
        {
          title: "手续费（元）",
          key: "costs2",
          minWidth: 120,
          align: "center"
        },
        {
          title: "划扣时间",
          key: "createTime",
          minWidth: 200,
          align: "center"
        },
        {
          title: "划扣状态",
          key: "billStateDesc",
          width: 100,
          align: "center"
        },
        {
          title: "状态原因",
          key: "respMsg",
          width: 300,
          align: "center"
        }
      ],
      submitLoading: false, // 添加或编辑提交状态
      data: [], //表单数据
      total: 0 // 表单数据总数
    };
  },
  methods: {
    exportInit() {
      // 初始化导出列数据
      let array = [];
      this.exportColumns.forEach(e => {
        // 指定列限制权限
        if (
          !this.getStore("roles").includes("ROLE_ADMIN") &&
          e.key === "mobile"
        ) {
          e.title = "[无权导出] " + e.title;
          e.disabled = true;
        } else {
          e.disabled = false;
        }
        array.push(e.title);
      });
      this.chooseColumns = array;
    },
    async init() {
      try {
        // 获取表单数据
        //await this.getDataList();
        // 初始化一级节点
        await this.getParentList();
      } catch (error) {
        console.log(error);
      }
    },
    handleDropdown() {
      this.exportColumns = exportColumn;
      this.exportInit();
      this.exportType = "all";
      exportTaskBill({ taskId: this.searchForm.taskId }).then(res => {
        if (res.success) {
          this.exportData = res.result.list;
          this.total = res.result.total;
          this.exportTitle = "确认导出全部 " + this.total + " 条数据";
          this.exportModalVisible = true;
        } else {
          this.$Message.warning(res.message);
          this.exportModalVisible = false;
        }
      });
    },
    exportCustomData() {
      if (this.filename == "") {
        this.filename = "用户数据";
      }
      // 判断勾选导出列
      let array = [];
      this.exportColumns.forEach(e => {
        this.chooseColumns.forEach(c => {
          if (e.title === c && !e.disabled) {
            array.push(e);
          }
        });
      });
      this.exportColumns = array;
      this.exportModalVisible = false;
      let title = [];
      let key = [];
      this.exportColumns.forEach(e => {
        title.push(e.title);
        key.push(e.key);
      });
      const params = {
        title: title,
        key: key,
        data: this.exportData,
        autoWidth: true,
        filename: this.filename
      };
      excel.export_array_to_excel(params);
    },
    getReset() {
      this.searchForm = {
        // 搜索框对应data对象
        name: "",
        status: "",
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc", // 默认排序方式
        taskId: "" //跑批id
      };
      this.total = 0;
      this.getParentList();
    },
    getParentList() {
      taskBillGetByCondition({ taskId: this.searchKey }).then(res => {
        this.treeLoading = false;
        if (res.success === true) {
          let res2 = res.result;
          this.treeData = [];
          res2.forEach(item => {
            this.treeData.push({
              title: item.createTime,
              id: item.id
            });
          });
          this.data = [];
        }
      });
      // this.treeLoading = true;
      // this.getRequest("一级数据请求路径，如/tree/getByParentId/0").then(res => {
      //   this.treeLoading = false;
      //   if (res.success === true) {
      //     res.result.forEach(function(e) {
      //       if (e.isParent) {
      //         e.loading = false;
      //         e.children = [];
      //       }
      //     });
      //     this.treeData = res.result;
      //   }
      // });
      // 模拟请求成功
      // this.treeData = [
      //   {
      //     title: "2019-11-12 00:00:00",
      //     id: "1",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 06:00:00:00",
      //     id: "3",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 00:00:00",
      //     id: "1",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 06:00:00:00",
      //     id: "3",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 00:00:00",
      //     id: "1",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 06:00:00:00",
      //     id: "3",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 00:00:00",
      //     id: "1",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 06:00:00:00",
      //     id: "3",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 00:00:00",
      //     id: "1",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 06:00:00:00",
      //     id: "3",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 00:00:00",
      //     id: "1",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 06:00:00:00",
      //     id: "3",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 00:00:00",
      //     id: "1",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   },
      //   {
      //     title: "2019-11-12 06:00:00:00",
      //     id: "3",
      //     parentId: "0",
      //     parentTitle: "一级节点",
      //     status: 0
      //   }
      // ];
    },
    loadData(item, callback) {
      // 异步加载树子节点数据
      // this.getRequest("请求路径，如/tree/getByParentId/" + item.id).then(res => {
      //   if (res.success === true) {
      //     res.result.forEach(function(e) {
      //       if (e.isParent) {
      //         e.loading = false;
      //         e.children = [];
      //       }
      //     });
      //     callback(res.result);
      //   }
      // });
    },
    // search() {
    //   // 搜索树
    //   this.data = [];
    //   this.treeData = [];
    //   if (this.searchKey) {
    //     this.treeLoading = true;
    //     taskBillGetByCondition({ taskId: this.searchKey }).then(res => {
    //       this.treeLoading = false;
    //       if (res.success === true) {
    //         let res2 = res.result.content;
    //         this.data = res2;
    //         res2.forEach(item => {
    //           this.treeData.push({
    //             title: item.createTime,
    //             id: item.id
    //           });
    //         });
    //       }
    //     });
    //     // 模拟请求成功
    //     // this.treeData = [
    //     //   {
    //     //     title: "这里需要请求后台接口",
    //     //     id: "1",
    //     //     parentId: "0",
    //     //     parentTitle: "一级节点",
    //     //     status: 0
    //     //   },
    //     //   {
    //     //     title: "所以这里是假数据",
    //     //     id: "4",
    //     //     parentId: "0",
    //     //     parentTitle: "一级节点",
    //     //     status: 0
    //     //   },
    //     //   {
    //     //     title: "我是被禁用的节点",
    //     //     id: "5",
    //     //     parentId: "0",
    //     //     parentTitle: "一级节点",
    //     //     status: -1
    //     //   }
    //     // ];
    //   } else {
    //     // 为空重新加载
    //     this.getParentList();
    //   }
    // },
    selectTree(v) {
      //console.log(v);
      if (v.length > 0) {
        // 转换null为""
        for (let attr in v[0]) {
          if (v[0][attr] === null) {
            v[0][attr] = "";
          }
        }
        let str = JSON.stringify(v[0]);
        let data = JSON.parse(str);
        this.selectNode = data;
        console.log(this.selectNode);
        this.editTitle = data.title;
        // 重新加载表
        this.getDataList();
      } else {
        this.searchForm = {
          // 搜索框对应data对象
          name: "",
          status: "",
          pageNumber: 1, // 当前页数
          pageSize: 10, // 页面大小
          sort: "createTime", // 默认排序字段
          order: "desc", // 默认排序方式
          taskId: "" //跑批id
        };
        this.selectNode = [];
        this.total = 0;
        this.data = [];
      }
    },
    // cancelEdit() {
    //   let data = this.$refs.tree.getSelectedNodes()[0];
    //   if (data) {
    //     data.selected = false;
    //   }
    //   // 取消选择后获取全部数据
    //   this.selectNode = {};
    //   this.editTitle = "";
    //   this.getDataList();
    // },
    changeSelect(v) {
      this.selectCount = v.length;
      this.selectList = v;
    },
    changeExpand() {
      this.expand = !this.expand;
      if (this.expand) {
        this.expandIcon = "ios-arrow-back";
        this.span = 18;
      } else {
        this.expandIcon = "ios-arrow-forward";
        this.span = 23;
      }
    },
    changePage(v) {
      this.searchForm.pageNumber = v;
      this.getDataList();
      this.clearSelectAll();
    },
    changePageSize(v) {
      this.searchForm.pageSize = v;
      this.getDataList();
    },
    getDataList() {
      this.loading = true;
      // 根据用户选择树加载表数据
      this.searchForm.taskId = this.selectNode.id;
      //带多条件搜索参数获取表单数据 请自行修改接口
      taskBillGetByConditionRight(this.searchForm).then(res => {
        this.loading = false;
        if (res.success === true) {
          let changeColorIndex = [];
          if (res.result.content.length > 0) {
            res.result.content.forEach(item => {
              switch (item.taskState) {
                case 1:
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-warning"
                  };
                  changeColorIndex.push(item);
                  break;
                case 2:
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-doing"
                  };
                  changeColorIndex.push(item);
                  break;
                case 3:
                  item.cellClassName = { billStateDesc: "ivu-select-item-end" };
                  changeColorIndex.push(item);
                  break;
                case 4:
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-error"
                  };
                  changeColorIndex.push(item);
                  break;
                case 5:
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-part"
                  };
                  changeColorIndex.push(item);
                  break;
                case 6:
                  item.cellClassName = {
                    billStateDesc: "ivu-select-item-receivable"
                  };
                  changeColorIndex.push(item);
                  break;
              }
            });
          }
          this.data = changeColorIndex;
          this.total = res.result.totalElements;
        }
      });
    },
    handleSearch() {
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.getDataList();
    },
    handleReset() {
      this.$refs.searchForm.resetFields();
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      // 重新加载数据
      this.getDataList();
    },
    changeSort(e) {
      this.searchForm.sort = e.key;
      this.searchForm.order = e.order;
      if (e.order === "normal") {
        this.searchForm.order = "";
      }
      this.getDataList();
    },
    showSelect(e) {
      this.selectList = e;
      this.selectCount = e.length;
    },
    clearSelectAll() {
      this.$refs.table.selectAll(false);
    },
    handelSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.submitLoading = true;
          if (this.modalType === 0) {
            // 添加 避免编辑后传入id等数据 记得删除
            delete this.form.id;
            delete this.form.status;
            // this.postRequest("请求路径", this.form).then(res => {
            //   this.submitLoading = false;
            //   if (res.success === true) {
            //     this.$Message.success("操作成功");
            //     this.getDataList();
            //     this.modalVisible = false;
            //   }
            // });
            // 模拟成功
            this.submitLoading = false;
            this.$Message.success("操作成功");
            this.modalVisible = false;
          } else if (this.modalType === 1) {
            // 编辑
            // this.postRequest("请求路径", this.form).then(res => {
            //   this.submitLoading = false;
            //   if (res.success === true) {
            //     this.$Message.success("操作成功");
            //     this.getDataList();
            //     this.modalVisible = false;
            //   }
            // });
            // 模拟成功
            this.submitLoading = false;
            this.$Message.success("操作成功");
            this.modalVisible = false;
          }
        }
      });
    },
    remove(v) {
      this.$Modal.confirm({
        title: "确认删除",
        // 记得确认修改此处
        content: "您确认要删除 " + v.name + " ?",
        onOk: () => {
          // 删除
          // this.operationLoading = true;
          // this.deleteRequest("请求地址，如/deleteByIds/" + v.id).then(res => {
          // this.operationLoading = false;
          //   if (res.success === true) {
          //     this.$Message.success("操作成功");
          //     this.getDataList();
          //   }
          // });
          // 模拟请求成功
          this.$Message.success("操作成功");
          this.getDataList();
        }
      });
    },
    delAll() {
      if (this.selectCount <= 0) {
        this.$Message.warning("您还未选择要删除的数据");
        return;
      }
      this.$Modal.confirm({
        title: "确认删除",
        content: "您确认要删除所选的 " + this.selectCount + " 条数据?",
        onOk: () => {
          let ids = "";
          this.selectList.forEach(function(e) {
            ids += e.id + ",";
          });
          ids = ids.substring(0, ids.length - 1);
          // 批量删除
          // this.operationLoading = true;
          // this.deleteRequest("请求地址，如/deleteByIds/" + ids).then(res => {
          // this.operationLoading = false;
          //   if (res.success === true) {
          //     this.$Message.success("操作成功");
          //     this.clearSelectAll();
          //     this.getDataList();
          //   }
          // });
          // 模拟请求成功
          this.$Message.success("操作成功");
          this.clearSelectAll();
          this.getDataList();
        }
      });
    }
  },
  mounted() {
    // 计算高度
    let height = document.documentElement.clientHeight;
    this.maxHeight = Number(height - 287) + "px";
    this.init();
    this.exportInit();
  }
};
</script>