<style lang="less">
@import "./channel.less";
</style>
<template>
  <div class="search">
    <Row>
      <Col>
        <Card>
          <Row class="operation">
            <Button @click="add" type="primary" icon="md-add">添加</Button>
            <Button @click="delAll" icon="md-trash">批量删除</Button>
            <Button @click="getDataList" icon="md-refresh">刷新</Button>
            <circleLoading v-if="operationLoading" />
          </Row>
          <Row>
            <Alert show-icon>
              已选择
              <span class="select-count">{{selectCount}}</span> 项
              <a class="select-clear" @click="clearSelectAll">清空</a>
            </Alert>
          </Row>
          <Row>
            <Table
              :loading="loading"
              border
              :columns="columns"
              :data="data"
              ref="table"
              sortable="custom"
              @on-sort-change="changeSort"
              @on-selection-change="changeSelect"
            ></Table>
          </Row>
          <Row type="flex" justify="end" class="page">
            <Page
              :current="pageNumber"
              :total="total"
              :page-size="pageSize"
              @on-change="changePage"
              @on-page-size-change="changePageSize"
              :page-size-opts="[10,20,50]"
              size="small"
              show-total
              show-elevator
              show-sizer
            ></Page>
          </Row>
        </Card>
      </Col>
    </Row>
    <Modal
      :title="modalTitle"
      v-model="modalVisible"
      :mask-closable="false"
      :width="480"
      :z-index="100"
    >
      <Form ref="form" :model="form" :label-width="110" :rules="formValidate">
        <FormItem label="渠道名称" prop="thirdPayName">
          <Input v-model="form.thirdPayName" placeholder="请输入渠道名称" style="width:300px" />
        </FormItem>
        <Form-item label="银行列表" prop="bankIds">
          <Select v-model="form.bankIds" placeholder="请选择银行,支持多选" style="width: 300px" multiple>
            <Option :value="item.id" v-for="item in bankList" :key="item.id">{{item.bankName}}</Option>
          </Select>
        </Form-item>
        <Form-item label="优先级" prop="priority">
          <Select v-model="form.priority" placeholder="请选择优先级" style="width: 300px">
            <Option :value="item" v-for="item in priority" :key="item">{{item}}</Option>
          </Select>
        </Form-item>
        <FormItem label="URL" prop="url">
          <Input v-model="form.url" style="width:300px" placeholder="请输入URL" />
        </FormItem>
         <FormItem label="渠道ID" prop="thirdPayId">
          <Input v-model="form.thirdPayId" style="width:300px" placeholder="请输入渠道ID" :disabled="disabled"/>
        </FormItem>
      </Form>
      <div slot="footer">
        <Button type="text" @click="modalVisible=false">取消</Button>
        <Button type="primary" :loading="submitLoading" @click="handleSubmit">提交</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import {
  bankGetAll,
  thirdPaymentSaveData,
  thirdPaymentUpdateData,
  thirdPaymentGetByCondition,
  thirdPaymentDelByIds,
  thirdPaymentGet,
  thirdPaymentForbidden
} from "@/api/index";
import circleLoading from "@/views/my-components/circle-loading.vue";
export default {
  name: "pay_bank_list",
  components: {
    circleLoading
  },
  data() {
    return {
      disabled: false,//显示隐藏
      bankList: [], //银行列表
      priority: 0, //优先级
      loading: true, // 表单加载状态
      operationLoading: false, // 操作加载状态
      modalType: 0, // 添加或编辑标识
      modalVisible: false, // 添加或编辑显示
      modalTitle: "", // 添加或编辑标题
      searchForm: {
        // 搜索框初始化对象
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc" // 默认排序方式
      },
      form: {
        // 添加或编辑表单对象初始化数据
        thirdPayName: "",
        bankIds: [],
        priority: "",
        url: "",
        thirdPayId: "",
        id: ""
      },
      // 表单验证规则
      formValidate: {
        thirdPayName: [
          { required: true, message: "不能为空", trigger: "blur" }
        ],
        bankIds: [
          {
            required: true,
            message: "不能为空",
            trigger: "blur",
            type: "array"
          }
        ],
        priority: [
          {
            required: true,
            message: "不能为空",
            trigger: "blur",
            type: "number"
          }
        ],
        url: [{ required: true, message: "不能为空", trigger: "blur" }],
        thirdPayId: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      submitLoading: false, // 添加或编辑提交状态
      selectList: [], // 多选数据
      selectCount: 0, // 多选计数
      columns: [
        // 表头
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          type: "index",
          title: "序号",
          width: 70,
          align: "center"
        },
        {
          title: "渠道名称",
          key: "thirdPayName",
          minWidth: 120,
          align: "center"
        },
        {
          title: "状态",
          key: "state",
          align: "center",
          width: 150,
          render: (h, params) => {
            return h(
              "i-switch",
              {
                props: {
                  value: params.row.state,
                  size: "large",
                  "true-value": "1",
                  "false-value": "2"
                },
                on: {
                  "on-change": v => {
                    this.changeStatus(params.row, v);
                  }
                }
              },
              [
                h("span", { slot: "open" }, "启用"),
                h("span", { slot: "close" }, "禁用")
              ]
            );
          }
        },
        {
          title: "优先级",
          key: "priority",
          minWidth: 120,
          align: "center"
        },
        {
          title: "操作",
          key: "action",
          align: "center",
          width: 270,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "success",
                    size: "small",
                    icon: "ios-list-box-outline"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.detalis(params.row);
                    }
                  }
                },
                "详情"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small",
                    icon: "ios-create-outline"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.edit(params.row);
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small",
                    icon: "md-trash"
                  },
                  on: {
                    click: () => {
                      this.remove(params.row);
                    }
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      data: [], // 表单数据
      pageNumber: 1, // 当前页数
      pageSize: 10, // 页面大小
      total: 0, // 表单数据总数
      getSelectList: ""
    };
  },
  methods: {
    init() {
      this.getchannelList(); //初始化列表
      //this.getSelectOption(); //初始化新增下拉菜单
      this.bankGetAll(); //初始化银行
    },
    change(v) {},
    //获取增加下拉列表
    // getSelectOption() {
    //   thirdPaymentPayMentList().then(res => {
    //     if (res.success === true) {
    //       this.getSelectList = res.result;
    //     }
    //   });
    // },
    changeStatus(row, v) {
      thirdPaymentForbidden({ id: row.id, state: v }).then(res => {
        this.loading = false;
        if (res.success === true) {
          this.$Message.success("修改用户" + row.thirdPayName + "状态成功");
        }
      });
    },
    changePage(v) {
      this.searchForm.pageNumber = v;
      this.getDataList();
      this.clearSelectAll();
    },
    changePageSize(v) {
      this.searchForm.pageSize = v;
      this.getDataList();
    },
    handleSearch() {
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.getDataList();
    },
    handleReset() {
      this.$refs.searchForm.resetFields();
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      // 重新加载数据
      this.getDataList();
    },
    changeSort(e) {
      this.searchForm.sort = e.key;
      this.searchForm.order = e.order;
      if (e.order === "normal") {
        this.searchForm.order = "";
      }
      this.getDataList();
    },
    clearSelectAll() {
      this.$refs.table.selectAll(false);
    },
    changeSelect(e) {
      this.selectList = e;
      this.selectCount = e.length;
    },
    getDataList() {
      this.getchannelList();
    },
    bankGetAll() {
      bankGetAll().then(res => {
        this.loading = false;
        if (res.success === true) {
          //this.form.bankIds = res.
          this.bankList = res.result;
        }
      });
    },
    getchannelList() {
      // 多条件搜索用户列表
      this.loading = true;
      // 避免后台默认值
      if (!this.searchForm.type) {
        this.searchForm.type = "";
      }
      if (!this.searchForm.status) {
        this.searchForm.status = "";
      }
      thirdPaymentGetByCondition(this.searchForm).then(res => {
        this.loading = false;
        if (res.success === true) {
          this.data = res.result.content;
          this.total = res.result.totalElements;
          this.priority = res.result.totalElements + 1; //没有数据返回的总条数为0，故需要加1保证优先级是有值的
        }
      });
    },
    handleSubmit() {
      console.log(this.form)
      this.$refs.form.validate(valid => {
        if (valid) {
          this.submitLoading = true;
          if (this.modalType === 0) {
            // 添加 避免编辑后传入id等数据 记得删除
            // delete this.form.id;
            thirdPaymentSaveData(this.form).then(res => {
              this.submitLoading = false;
              if (res.success === true) {
                this.$Message.success("操作成功");
                this.getchannelList();
                this.modalVisible = false;
              } else {
                this.$Message.warning(res.message);
              }
            });
          } else {
            // 编辑
            thirdPaymentUpdateData(this.form).then(res => {
              this.submitLoading = false;
              if (res.success === true) {
                this.$Message.success("操作成功");
                this.getDataList();
                this.modalVisible = false;
              } else {
                this.$Message.warning(res.message);
              }
            });
          }
        }
      });
    },
    add() {
      this.modalType = 0;
      this.modalTitle = "新增渠道";
      delete this.form.id;
      this.modalVisible = true;
      this.disabled = false;
      this.$refs.form.resetFields();
    },
    //详情
    detalis(v) {
      // 记录返回路由
      let query = { id: v.id, bizNo: v.bizNo };
      this.$router.push({
        // 该路由已在/router/router.js中定义好 携带id参数
        name: "channel_bank_list",
        query: query
      });
    },
    edit(v) {
      this.$refs.form.resetFields();
      this.disabled = true;
      this.modalType = 1;
      this.modalTitle = "编辑渠道";
      // 转换null为""
      for (let attr in v) {
        if (v[attr] === null) {
          v[attr] = "";
        }
      }
      let str = JSON.stringify(v);
      let data = JSON.parse(str);
      this.form = data;
      this.form.priority = parseFloat(v.priority);
      //回显银行列表
      thirdPaymentGet(v.id).then(res => {
        if (res.success === true) {
          this.form.bankIds = res.result.bankIdList;
        }
      });
      this.modalVisible = true;
    },
    remove(v) {
      this.$Modal.confirm({
        title: "确认删除",
        // 记得确认修改此处
        content: "您确认要删除 " + v.thirdPayName + " ?",
        onOk: () => {
          // 删除
          this.operationLoading = true;
          thirdPaymentDelByIds(v.id).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.getDataList();
            }
          });
        }
      });
    },
    delAll() {
      if (this.selectCount <= 0) {
        this.$Message.warning("您还未选择要删除的数据");
        return;
      }
      this.$Modal.confirm({
        title: "确认删除",
        content: "您确认要删除所选的 " + this.selectCount + " 条数据?",
        onOk: () => {
          let ids = "";
          this.selectList.forEach(function(e) {
            ids += e.id + ",";
          });
          ids = ids.substring(0, ids.length - 1);
          // 批量删除
          this.operationLoading = true;
          thirdPaymentDelByIds(ids).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.clearSelectAll();
              this.getDataList();
            }
          });
        }
      });
    }
  },
  mounted() {
    this.init();
  }
};
</script>