<template>
  <div class="visit">
    <div style="width:100%;height:300px;" :id="list.id"></div>
  </div>
</template>

<script>
import echarts from "echarts";
export default {
  name: "visiteVolume",
  props: {
    list: Object
  },
  data() {
    return {
      visiteVolume: "",
      option: ""
    };
  },
  watch: {
    //观察option的变化
    option: {
      handler(newVal, oldVal) {
        if (this.visiteVolume) {
          if (newVal) {
            this.visiteVolume.setOption(newVal);
          } else {
            this.visiteVolume.setOption(oldVal);
          }
        } else {
          this.init();
        }
      },
      deep: true //对象内部属性的监听，关键。
    }
  },
  mounted() {
    this.visiteVolume = echarts.init(document.getElementById(this.list.id));
    this.option = {
      tooltip: {
        trigger: "axis"
      },
      grid: {
        left: "10%", // 与容器左侧的距离
        top: "3%" //与容器右侧的距离
      },
      xAxis: {
        type: "category",
        boundaryGap: false,
        data: this.list.data
      },
      yAxis: {
        type: "value"
      },
      series: [
        {
          name: this.list.name,
          type: "line",
          smooth: true,
          data: this.list.count
        }
      ]
    };
    this.$nextTick(() => {
      this.visiteVolume.setOption(this.option);
      window.addEventListener("resize", function() {
        visiteVolume.resize();
      });
    });
  }
};
</script>
<style lang="less">
.date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
</style>
