<style lang="less">
@import "./home.less";
@import "../../styles/common.less";
</style>

<template>
    <div class="home-main">
        <Row :gutter="10">
            <!-- <Col :md="24" :lg="8">
           <Row class-name="home-page-row1" :gutter="10">
                 <Col :md="12" :lg="24" :style="{marginBottom: '10px'}">
                 <Card>
                   <Row type="flex" class="user-infor">
                        <Col span="8">
                        <Row class-name="made-child-con-middle" type="flex" align="middle">
                            <img class="avator-img" :src="avatarPath" />
                        </Row>
                        </Col>
                        <Col span="16" style="padding-left:6px;">
                        <Row class-name="made-child-con-middle" type="flex" align="middle">
                            <div>
                                <!-- <b class="card-user-infor-name">{{ username }}</b> 
                                <p>欢迎您的使用</p>
                            </div>
                        </Row>
                        </Col>
                    </Row> 
                    <div class="line-gray"></div>-->
                    <!-- <Row class="margin-top-8">
                        <Col span="8">
                        <p class="notwrap">本次登录地点:</p>
                        </Col>
                        <!-- <Col span="16" class="padding-left-8">{{city}}</Col> 
                    </Row> -->
                    <!-- <Row class="margin-top-8">
                        <Col span="8">
                        <p class="notwrap">天气:</p>
                        </Col>
                        <!-- <Col span="16" class="padding-left-8">{{weather}}</Col>
                    </Row> 
                </Card>
                </Col>-->
                <!-- <Col :md="12" :lg="24" style="margin-bottom: 10px;">
                <Card>
                    <p slot="title" class="card-title">

                        时间线示例

                    </p>

                    <div class="to-do-list-con">
                        <Timeline>
                            <TimelineItem>
                                <Icon type="logo-youtube" color="#fb7299" slot="dot"></Icon>
                                时间线1

                            </TimelineItem>
                            <TimelineItem>
                                <Icon type="logo-youtube" color="#fb7299" slot="dot"></Icon>
                                时间线2

                            </TimelineItem>
                            <TimelineItem>
                                <Icon type="md-barcode" color="black" slot="dot"></Icon>
                                时间线3
                            </TimelineItem>
                            <TimelineItem>
                                <Icon type="md-cart" color="#f4364c" slot="dot"></Icon>
                                时间线4
                            </TimelineItem>
                            <TimelineItem>
                                <Icon type="md-cash" color="#19be6b" slot="dot"></Icon>
                                时间线5
                            </TimelineItem>
                            <TimelineItem>
                                <Icon type="md-people" color="#57a3f3" slot="dot"></Icon>
                                时间线6
                            </TimelineItem>
                        </Timeline>
                    </div>
                </Card>
                </Col> 
            </Row>
            </Col> -->
            <Col>
                <Row :gutter="5">
                    <Col :xs="24" :sm="12" :md="6" :style="{marginBottom: '10px'}">
                    <infor-card id-name="user_created_count" :end-val="count.todayNeedBillCount" iconType="md-reorder" color="#2d8cf0" intro-text="今日应扣款任务单量"></infor-card>
                    </Col>
                    <Col :xs="24" :sm="12" :md="6" :style="{marginBottom: '10px'}">
                    <infor-card id-name="visit_count" :end-val="count.todayNeedBillMoney" iconType="logo-yen" color="#64d572" :iconSize="50" intro-text="今日应扣款总金额（元）"></infor-card>
                    </Col>
                    <Col :xs="24" :sm="12" :md="6" :style="{marginBottom: '10px'}">
                    <infor-card id-name="collection_count" :end-val="count.todayHaveBillCount" iconType="ios-calendar" color="#ffd572" intro-text="今日已扣款任务单量"></infor-card>
                    </Col>
                    <Col :xs="24" :sm="12" :md="6" :style="{marginBottom: '10px'}">
                    <infor-card id-name="transfer_count" :end-val="count.todayHaveBillMoney" iconType="md-cash" color="#f25e43" intro-text="今日已扣款总金额（元）"></infor-card>
                    </Col>
                </Row>
                <!-- <Row>
                    <Col :md="24" :lg="12" style="padding: 0 5px 10px 0;">
                        <Card>
                            <p slot="title" class="card-title" style="overflow:visible">

                                    <Icon type="ios-star" size="20" style="margin-bottom:2px"></Icon>
                                    <Badge dot>Card1</Badge>

                            </p>
                            <div style="height:368px;overflow:auto">

                            </div>
                        </Card>
                    </Col>
                    <Col :md="24" :lg="12" style="padding: 0 0 10px 5px;" >
                        <Card>
                            card
                        </Card>
                    </Col>
                </Row> -->
            </Col>
        </Row>
        <Row :gutter="10">
            <Col :md="24" :lg="12" :style="{marginBottom: '10px'}">
            <Card>
                <p slot="title" class="card-title">
                    <Icon type="md-map"></Icon>
                    近7天已扣款任务单量趋势
                </p>
                <div class="data-source-row">
                    <visite-volume :list="visite_volume_con"></visite-volume>
                </div>
            </Card>
            </Col>
            <Col :md="24" :lg="12" :style="{marginBottom: '10px'}">
            <Card>
                <p slot="title" class="card-title">
                    <Icon type="md-locate"></Icon>
                    近7天已扣款总金额趋势
                </p>
                <div class="data-source-row">
                    <visite-volume :list="visite_volume_con2"></visite-volume>
                </div>
                <!-- <div class="map-con">
                    <Col span="10">
                    <map-data-table :cityData="cityData" height="281" :style-obj="{margin: '12px 0 0 11px'}"></map-data-table>
                    </Col>
                    <Col span="14" class="map-incon">
                    <Row type="flex" justify="center" align="middle">
                        <home-map :city-data="cityData"></home-map>
                    </Row>
                    </Col>
                </div> -->
            </Card>
            </col>
        </Row>
    </div>
</template>

<script>
import { ipInfo, firstPageTodayStatistics, firstPageWeekAmount, firstPageWeekCount } from "@/api/index";
// import cityData from "./map-data/get-city-value.js";
// import homeMap from "./components/map.vue";
import visiteVolume from "./components/visiteVolume.vue";
import userFlow from "./components/userFlow.vue";
import countUp from "./components/countUp.vue";
import inforCard from "./components/inforCard.vue";
import mapDataTable from "./components/mapDataTable.vue";
import Cookies from "js-cookie";
import "gitalk/dist/gitalk.css";
import Gitalk from "gitalk";

export default {
  name: "home",
  components: {
    visiteVolume,
    userFlow,
    countUp,
    inforCard,
    mapDataTable
  },
  data() {
    return {
      showVideo: false,
      count: {
        todayHaveBillCount: "0",
        todayHaveBillMoney: "0",
        todayNeedBillCount: "0",
        todayNeedBillMoney: "0"
      },
      visite_volume_con: {
        id: "visite_volume_con",
        name: "任务单量",
        data: [],
        count: []
      },
      visite_volume_con2: {
        id: "visite_volume_con2",
        name: "金额（元）",
        data: [],
        count: []
      },
    //   cityData: cityData,
      newToDoItemValue: "",
    //   city: "",
    //   weather: "",
    //   username: ""
    };
  },
  computed: {
    // avatarPath() {
    //   return localStorage.avatorImgPath;
    // }
  },
  methods: {
    init() {
      let userInfo = JSON.parse(Cookies.get("userInfo"));
      this.firstPageTodayStatistics();
      this.firstPageWeekAmount();
      this.firstPageWeekCount();
    //   this.username = userInfo.username;
    //   ipInfo().then(res => {
    //     if (res.success) {
    //       if(!res.result){
    //           return
    //       }
    //       let ipInfo = JSON.parse(res.result);
    //       if (ipInfo.retCode == "200") {
    //         let info = ipInfo.result[0];
    //         let weather =
    //           info.weather +
    //           " " +
    //           info.temperature +
    //           " 污染指数: " +
    //           info.pollutionIndex;
    //         // this.city = info.city;
    //         this.weather = weather;
    //       } else {
    //         // this.city = "未知";
    //         this.weather = "未知";
    //       }
    //     }
    //   });
    },
    firstPageTodayStatistics() {
      firstPageTodayStatistics().then(res => {
        if (res.success === true) {
            this.count = res.result;
        }
      });
    },
    firstPageWeekAmount() {
      firstPageWeekCount().then(res => {
        if (res.success === true) {
            res.result.forEach(item => {
                 this.visite_volume_con.data.push(item.date); 
                 this.visite_volume_con.count.push(item.count);    
            });
        }
      });
    },
    firstPageWeekCount() {
      firstPageWeekAmount().then(res => {
        if (res.success === true) {
           res.result.forEach(item => {
                 this.visite_volume_con2.data.push(item.date); 
                 this.visite_volume_con2.count.push(item.amount);    
            });
        }
      });
    }
  },
  mounted() {
    this.init();
    // var gitalk = new Gitalk({
    //   clientID: "a128de2dd7383614273a",
    //   clientSecret: "a77691ecb662a8303a6c686ae651ae035868da6e",
    //   repo: "gboot-comments",
    //   owner: "chenwang",
    //   admin: ["chenwang"],
    //   distractionFreeMode: false // 遮罩效果
    // });
    // gitalk.render("comments");
    // // 宣传视频
    // let gbootVideo = Boolean(Cookies.get("gbootVideo"));
    // if (!gbootVideo) {
    //   this.showVideo = true;
    //   Cookies.set("gbootVideo", true);
    // }
  }
};
</script>
